[2014-02-04 17:37] rebawest opened #1 "Ebu Stl - Italics"
When exporting to EBU STL, italics do not work properly. When a subtitle has both lines in italics, only the first one gets the formatting.

(This old issue #155. https://code.google.com/p/subtitleedit/issues/detail?id=155 )

[2014-02-04 17:39] rebawest opened #2 "(Suggestion) CPS and separation in subtitle list"
Let me suggest to add CPS and Separation (or Blank, Gap, Pause) to the subtitle list.
I attach a capture of Softni subtitler.
I know you can't have 2 lines in a listview, so two more columns would be needed is this is done.

Notice that by having more info in a single cell (in Softni) the subtitle list is narrower, and so there is more space for the video on the right. Also, each subtitle in the l

[2014-02-04 17:41] rebawest opened #3 "Tags remain in image export"
For unknown reasons I had several subtitles with non-matching italic tags, like this one:

[code]

When exporting to Vobsub or SUP, the last `</i>` tag is visible in the exported image.
I don't think any tag should show when exported, no matter if they are wrongly placed.

Thanks... Kind regards...

[2014-02-04 18:01] #3 closed, assigned to nobody

[2014-02-04 19:15] panther7 opened #4 "Add option to manually select video engine library"
In 3.3.12 version missing option to manually select video engine library like MPlayer or VLC (if are installed as portable).

[2014-02-04 19:16] panther7 opened #5 "multiselect subtitles in wave"
Copied from: http://code.google.com/p/subtitleedit/issues/detail?id=84

Hi,
i have suggestion, u can add multi-select subtitles (hold Ctrl + mouse click on subtitles) in waveline?
Eg. moveable selected subtitles on waveline and so on...

[2014-02-05 02:41] rebawest opened #6 "(Suggestion) ALT + moving start/end"
From the manual: "Holding down ALT when moving start/end will move nearest subtitle start/end too if it's closer than 500 milliseconds."
OK, but instead of 500ms, maybe this number should be the new parameter "gap between subtitles." It makes sense to me; I don't know what you think.

[2014-02-05 02:43] rebawest opened #7 "ALT + moving start/end BUG in frame mode"
From the manual: "Holding down ALT when moving start/end will move nearest subtitle start/end too if it's closer than 500 milliseconds."

This function is not working in FRAME MODE.
"ALT+moving start time" breaks the previous subtitle end time.
"ALT+moving end time" breaks current subtitle end time.
This happens with the selected subtitle (the one in red in the waveform). It works with unselected

[2014-02-05 20:35] #7 closed, assigned to nobody

[2014-02-07 12:03] #6 closed, assigned to nobody

[2014-02-13 08:30] XhmikosR opened #8 "Run tabspace as a pre-commit hook"

[2014-02-14 17:38] LeonCheung opened #9 "Move/add "Delete" menu to the Window UI in Custom Format window"
This is a suggested enhancement. Please see the illustration. I think this is relatively reasonable. FYI Thanks!
![delete_menu_place_suggestion](https://f.cloud.github.com/assets/494788/2173249/a85877d2-959e-11e3-8053-7aa2341066f9.png)

[2014-02-19 15:14] zatch opened #10 "Alignment tags lose "{\" in JSON formats"
When using the Alignment feature and any of the JSON formats, the leading "{\" is lost in the Source View.  This also causes the file to be saved without the leading "{\", and so reopening the file carries the issue over to the List View.

Take this line from List View, for example:

[code]

The JSON in Source View will read like so:

[code]

And after saving/reopening, the line will read in List

[2014-02-19 19:08] #9 closed, assigned to nobody

[2014-02-19 19:50] #10 closed, assigned to nobody

[2014-02-23 14:28] LeonCheung opened #11 "Ability to choose specific audio channel/track for Wave generation."
I know this will make little sense to most users, but currently I do meet such need when working on a project. The video clip got both Left/Right channels. However, the wave seems messed up, because the L channel is full of noise and no voice.

AFAIK, on some video files, one of the
stereo channels (typically left) is used to encode LTC time code. So, here I think the R channel would be the ideal

[2014-02-23 23:34] rebawest opened #12 "Character spacing in vobsub/sup export"
I'm not sure how difficult this would be to program. By analysing DVD's and blurays subtitles by major film distributors, I've noticed that they use character spacing when generating their subtitles.
This allows them to have more characters on screen without reducing the font size.

Here's an example from a Warner Bros. DVD. By setting character spacing to "condensed 2 points", the font size could

[2014-02-25 11:37] grfilho opened #13 "Error when transitioning entries in the All Fixes window"
I am having issues with version 3.3.14. I am using the portable 32bit Windows version (tested in Win 7 and 8.1).
After ocring a vobsub subtitle if I click on an entry on the All Fixes window and try to navigate between entries using the arrow keys I get an error: "Common Language Runtime detected an invalid program".
Here is the debug log:

See the end of this message for details on invoking
just-

[2014-02-25 16:08] #13 closed, assigned to nobody

[2014-03-01 01:43] Jellyfrog opened #14 "dvb subtitles to sub/idx"
Hi
It would be nice with an option to save a dvb subtitle (ts files in this example) as sub/idx instead of being forced to OCR it.

[2014-03-02 08:46] LeonCheung opened #15 "Cannot delete custom formats"
The custom text formats cannot be actually deleted from the list. After deleting them, they will show up again when reopening the dialog or SE, unless deleting Settings.xml (or manually remove them from Settings.xml).

Btw, the way SE store the custom format data seems a bit strange, I wonder if it is made by design?

![55](https://f.cloud.github.com/assets/494788/2303821/8215a364-a1e8-11e3-83c7-d

[2014-03-02 11:32] #14 closed, assigned to nobody

[2014-03-03 17:37] #15 closed, assigned to nobody

[2014-03-04 23:26] rebawest opened #16 "(Improvement) Moving words between subtitles"
Hello. I'm currently trying to improve these two features:
- Move last word down to next subtitle
- Move first word from next subtitle up

I'm going to make them work with tags ([X], {\anX}) and with "...", OK?
These are very useful features available in very expensive programs, so it's great that SE has got them.

I'll let you know when I'm ready. Kind regards,
Adrián

[2014-03-05 16:37] #1 closed, assigned to nobody

[2014-03-16 18:11] #4 closed, assigned to nobody

[2014-03-18 19:28] ivandrofly opened #19 "Remove text for hearing impaired"
I've noticed a problem with "remove text for hearing impaired"
Let says Paragraph look like this:

[code]

After removing HI:

[code]

The correct text:

[code]

[2014-03-20 04:09] rebawest opened #20 "Use FFMPEG to detect scene changes"
Hello. I managed to use use FFMPEG to detect scene changes. I guess this feature could be added to SE somehow. I'll explain what I did:

1) Download FFMPEG.

2) With fprobe.exe generate a text file. The command should be as follows:

ffprobe.exe -show_frames -of compact=p=0 -f lavfi "movie=videofile.mkv,select=gt(scene\,0.4)" > scene-changes.txt

The "0.4" can range from 0 to 1. It takes a while t

[2014-03-22 02:09] ghost opened #21 "Feature Suggestions"
![subtitleedit](https://f.cloud.github.com/assets/7028073/2489471/e03fa75e-b166-11e3-8b5b-e74958007b99.png)

[2014-04-01 22:08] Vasilich opened #22 "DVB subtitles with colors - line splitting isn't ideal"
just tried to OCR subtitles from TS file (recorded from DVB-S). The best results i got is to set transparency to 250, activate grayscale and color checkboxes.
After activation of "Use color" checkbox the subtitle images are split into lines, and some of lines have just cuts of chars for the next subpicture. That cutted parts of letters are OCRing into unwanted dashes or underscores.
Is it possible

[2014-04-04 01:51] tigre7575 opened #23 "Feature Suggestion: Add position for signs and Combining text from multiple lines"
First off this is the best sub ocr program I've ever used. Not only does it go a good job, the interface is quite good. However it's missing two features I like from other ocr programs.

The ability to position signs where they are on screen.
{\pos(130,163)}Sign Here!

Secondly be able to combine text from across multiple subtitle lines. An example should help explain this.

14:01.00,0:14:01.49,He

[2014-04-06 12:41] Baswazz opened #24 "Import/OCR VobSub"
When importing a dvd subtitle with dutch language i get this:

Wrong:
Wil je me dronken voeren'?

Right:
Wil je me dronken voeren?

It add's a quotation character, there is none in the subpicture. OCR method is Tesseract.
![image30](https://cloud.githubusercontent.com/assets/1690629/2625249/a654d1da-bd88-11e3-9d36-558f2ecdf093.png)

Can you look-in to this?

[2014-04-11 12:48] #24 closed, assigned to nobody

[2014-04-16 11:23] Doigt opened #37 "Don't lock settings.xml as you read from it"
Opening a bunch of subtitles at once (by pressing enter while having like 15 selected), or closing a bunch of Subtitle Edit windows at once, will throw a bunch of errors. Both are connected to the settings.xml file being locked by Subtitle Edit as it reads from it.

On opening:
![ss 2014-04-16 at 01 21 19](https://cloud.githubusercontent.com/assets/5321699/2719027/57bbc8f2-c559-11e3-98fa-3a9890058

[2014-04-18 05:22] LeonCheung opened #39 "[Suggestion] Save both Original/Translation subtitles by a single click."
This is very convenient when dealing with project, which has multiple language subtitles to handle. This is especially useful when adjusting the timings. Currently, it seems that  you have to save twice in order to save the current adjusted result to both original and translation subtitles.

Or better to be another shortcut?

FYI. Thank you! :)

[2014-04-20 22:05] ivandrofly opened #40 "Case convertion"
Add shortcuts for quick convert selected text lower/upper just like in notepad++, Visual Studio...
CTRL+U = lower
CTRL+SHIFT+U = Upper

[2014-04-22 15:53] LeonCheung opened #41 "Line breaks occur when merging two lines in Translation mode"
For example, when merging two lines (Ctrl Shift M) in Translation mode, extra line break would occur, which seems usually unwanted, and has to be manually removed. I think this could be improved some?

[2014-04-22 19:29] #39 closed, assigned to nobody

[2014-04-22 19:31] #41 closed, assigned to nobody

[2014-04-22 19:33] #40 closed, assigned to nobody

[2014-04-22 20:20] #37 closed, assigned to nobody

[2014-04-23 15:20] stesteau opened #42 ".scc (Scenarist Closed Caption) parsing"
It looks like like not all .scc (Scenarist Closed Caption) characters are processed.

In our .scc, each line begins with `10:01:19:04   94AD 94AD 9426 9426 9470 9470`

It is somehow traduced by subtitleedit in `-&<br/>bla bla bla`

![screenshot](https://cloud.githubusercontent.com/assets/191202/2779293/b688c0d2-cafa-11e3-87af-6ce32dc72756.jpg)

[2014-04-23 17:37] #42 closed, assigned to nobody

[2014-04-25 15:19] LeonCheung opened #43 "Overlap Issue in Translation Mode"
When adding new lines under Translation mode, if the End time of the previous line is the same or 1 milisecond ealier than the Start time of the next line, the lines will be out of sync, which is really not good.  :-}

[PS: I found that the problematic durations would be between 0 to 48 msecs]

Before adding:
![1-before](https://cloud.githubusercontent.com/assets/494788/2802210/fe5dc9c4-cc8b-11e3-

[2014-04-25 15:25] LeonCheung opened #44 "Unexpected line breaks after merging"
After merging translation and original texts (Ctrl Shift Alt M), extra line break would appear in each line, which is unexpected.

PS: However, it looks fine in source view, quite strange.  :\

Before merging:
![beofre](https://cloud.githubusercontent.com/assets/494788/2802385/c36e8770-cc8d-11e3-9d5a-6fa6af6651b3.png)

Aftrer merging:
![after](https://cloud.githubusercontent.com/assets/494788/2802

[2014-04-25 15:53] LeonCheung opened #45 "Line breaks disappear when moving words or merging 2+ lines."
When using the **moving first/last words up/down to the next line** feature, it will automatically remove existing line breaks in current line. As far as I experienced, it is really something unwanted. not convenient for multi-line texts.

---
## **When moving words between lines:**

Before:
![before2](https://cloud.githubusercontent.com/assets/494788/2802720/5aa852da-cc91-11e3-8cac-105740dcb42d.p

[2014-04-25 15:56] LeonCheung opened #46 "Cannot well merge 3 or 3+ lines?"
It seems currently we cannot merge 3 or 3+ lines **while keeping the original line breaks**. Is that made by design? I thought it should work same as the "Merge Dialogue" feature, just don't need dashes.

Thanks!

[2014-04-25 16:06] LeonCheung opened #47 "[Suggestion] Allow "Global" Mode Switch operation (Ctrl Left/Right)"
Currently, It seems that we havve to first click on any one of the **Translation/Create/Adjust** tab title, in order to use Ctrl + left or right key to navigate among these three modes. However, if the navigation just behaves like this, then it would be sort of meaningless. Isn't it?

In other words, it would be really nice to use these shortcuts to perform the mode navigation without having to ha

[2014-04-25 16:13] LeonCheung opened #48 "[Suggestion] Allow to perform "move first/last words up/down to next line" out of Textbox."
First, I have to say that this is really a brilliant feature that I really love! :+1:

However, currently it seems to be only working when in text eiting mode, in other words, when cursor is within the tex box.

IMO, It could be also nice and convenient to support this operation other than that, if technically possbile. For example, to simply perform on the line that is currently selected or highl

[2014-04-25 16:34] LeonCheung opened #49 "[Suggestion] Split line at cursor selection AND current time. (new option)"
I can tell the current **Split line at cursor selection** feature seems very **intelligent**, which can perform the split based on the line length propotionally. But let's see how to enhance it :)

Normally, for a long line, we will surely know which word we should split the line after, just by playing and pausing by a certain point inbetween. In this case, we've got the right split position in te

[2014-04-25 16:48] LeonCheung opened #50 "[Suggestion] Support Adjusting by "End Time""
This would be quite useful and intuitive in case that the end time is known other than duration. I believe both End Time and Duration are both needed in different cases. Besides, as far as I see, it is a well supported feature supported by other sub editors.

![566](https://cloud.githubusercontent.com/assets/494788/2803290/64e5a402-cc99-11e3-9000-08465758d88b.png)

FYI  :)

[2014-04-27 07:43] #48 closed, assigned to nobody

[2014-04-27 13:10] LeonCheung opened #51 "Changed Play Rate (Speed) actually remains "Normal" after restart SE"
When changing the Play Rate (Speed), say, change it to "Very Fast", after restarting SE, it will display as "Very Fast", but actually plays at normal speed, unless setting it again manually. Thank a lot for checking!   :)

[2014-04-27 17:14] LeonCheung opened #52 "[Suggestion] Better way to select line(s) via Waveform view."
I've seen that there is a similar suggestion [here](https://github.com/SubtitleEdit/subtitleedit/issues/5). I just want to talk about my humble option:

I agree with this idea, and I believe it will work as a better workflow. Currently, I can see that we can double click on a wave clip to select that line actually, but it got three issues:
1. When double clicking, the first click will also change

[2014-05-04 02:12] LeonCheung opened #54 "Could we support plain text with batch convert?"
It would be really nice that SE can support plain text batch convert, which means, just keep all texts while removing all timecodes. Or, is this already supported?  :smiley:

[2014-05-05 15:58] ivandrofly opened #55 "Question"
@niksedk  Why do you replace: "</i> <i>", "_@_"
https://github.com/SubtitleEdit/subtitleedit/blame/master/src/Logic/Utilities.cs#L2438

[2014-05-06 16:42] Baswazz opened #56 "OCR via image compare"
Windows 8.1 Pro
Subtitle Edit 3.3.14 does work fine.

When i choose import/OCR subtitle from vob/ifo (dvd) and choose OCR method: OCR via image comparison and hit Start OCR i get the following message:

Zie het einde van dit bericht voor meer informatie over het aanroepen
van JIT-foutopsporing (Just In Time) in plaats van dit dialoogvenster.

*************\* Tekst van uitzondering **************
S

[2014-05-06 17:28] ivandrofly opened #57 "Throws on "Fixing Common errors""
http://www.addic7ed.com/original/87433/1

[2014-05-06 17:49] #57 closed, assigned to nobody

[2014-05-07 01:55] ivandrofly opened #59 "Fix common errors bug"
this like:
♪
(rooster crowing
won't fix in in: Fix common errors
Note: text is like: "♪ \r\n(rooster crowing" , there is a space after the music symbol

This is what I have enabled:
![subedit](https://cloud.githubusercontent.com/assets/6579818/2897791/4716c092-d58a-11e3-96b9-e71f0f3ae8b9.png)

Also remove leading will not remove text if like:

[code]

which should be:

[code]

[2014-05-08 00:35] ivandrofly opened #60 "new shortcuts for goto line form"
https://github.com/ivandrofly/subtitleedit/commit/99c6b4b1c3e0a52e87f3bf968432db4eaf514d89
Remove my last pull request so I can pull this one

[2014-05-08 07:06] XhmikosR opened #61 "High resolution logo"
We need a higher resolution logo to use in the program itself and on GitHub.

[2014-05-08 23:29] ivandrofly opened #62 "Bug found!"
#

Before plugins returns value
1
00:00:00,001 --> 00:00:01,821
4ª Temporada | Episódio 02
-= Model =-
#

After plugins returns value
1
00:00:00,001 --> 00:00:01,821
4ª Temporada
 Episódio 02
-= Model =-
http://www52.zippyshare.com/v/40718856/file.html
Note: I thought problem was while loading subtitle 'cause I replace:
\r\n with '|' and split the text but it wasn't.

[2014-05-10 05:22] #62 closed, assigned to nobody

[2014-05-10 07:46] #56 closed, assigned to nobody

[2014-05-10 07:47] #60 closed, assigned to nobody

[2014-05-10 07:48] #55 closed, assigned to nobody

[2014-05-10 08:06] ivandrofly opened #64 "Batch convert"
What do you think about preventing user to drop same subfile more than once in [Batch convert] listViewInputFiles?!

[2014-05-10 08:18] #64 closed, assigned to nobody

[2014-05-14 21:56] Betsy25 opened #70 "Fix common OCR error problem for dutch subs."
Using Dutch subtitles, the "Fix common errors..." --> "Fix common OCR errors" capitalizes instances where a line starts with 't (dutch abbrev. of the English word "It" )

 Example :

't Is geen rugzaktoerist, hè?
't Was alsof ik voor 'n afgrond stond.

...gets replaced by...

'T Is geen rugzaktoerist, hè?
'T Was alsof ik voor 'n afgrond stond.

(when dutch language, 't abbrevs always are lowercase

[2014-05-15 14:41] ivandrofly opened #72 "Bug!!! [Find Replace]"
Find-replace won't work for groups replacing:
E.g:
Text: Hello world!
Find what: (Hello) (world!).
Replace with: $2 $1.

[2014-05-16 07:55] #70 closed, assigned to nobody

[2014-05-16 12:27] Betsy25 opened #73 "Additions for the Fix #70"
Sorry for the incompleteness Nikolaj,
I saw you fixed the  't   case, however the same also applies for those abbrevs. at start of sentence.

For dutch language, the same is actually true for the following conditions (same rules apply as for 't abbrevs at start of sentence)

'k : (abbrev. for "Ik" (in English : "I" ) Example : 'k Heb = I have
'm : (special abbrev. for "Hij" (in English : "He" ) Ex

[2014-05-16 21:02] #73 closed, assigned to nobody

[2014-05-17 01:14] ivandrofly opened #75 "Suggestion"
Add export statistic in [image-below], like saving it to text file....
![sshot-2](https://cloud.githubusercontent.com/assets/6579818/3003774/82d9d802-dd60-11e3-8adf-66234906d703.png)
PS: Sorry for selection above.

[2014-05-19 13:02] ivantronics opened #81 "Port to MacOS"
Plain and simple. This piece of software is extraordinaire and it would be lovely to use it without parallels on macs. I have no skill in programming whatsoever, but I believe it won't be that hard, since macos is a unix based system. Please, make it happen

[2014-05-23 02:32] hhgyu opened #87 "sami subtitle parser Error"
I'm wrong English.

[code]

When you convert to ASS subtitle files
Problem occurs if the interpretation of the tag is wrong as described above.

[code]

"< font" in the start position and end after the next in line, looking indexOf "</ font>" position is at loggerheads as to replace the discarded.
</ font> to raise up the location of the line replacement has been resolved.

**text = text.Replace("

[2014-05-23 03:55] #87 closed, assigned to nobody

[2014-05-23 04:18] hhgyu opened #88 "[RE] Fix #87 - crash when passing bad font tag in ssa/ass"
Fix #87  , but once corrected, as this font is not converted correctly.
(Is changed to the Fix #87 , font does not seem to be converted correctly.?)
Or you will not need to move even a position to replace it?

[code]

[2014-05-23 04:37] #88 closed, assigned to nobody

[2014-05-26 00:25] ivandrofly opened #93 "Bug!!!"
In EffectKaraoke when you try the change the color and click preview it will throw error,
the error is caused when trying to parse color[parameter] which will always contains '#'
https://github.com/SubtitleEdit/subtitleedit/blob/master/src/Forms/EffectKaraoke.cs#L118

[2014-05-31 21:48] paconaranjo opened #99 "Dialogs in two lines"
If dialogue is like this split it into two lines.

This example is not recognized by the program.

Incorrect

[code]

Correct

[code]

I thing is easy to fix.

[2014-06-01 12:28] LeonCheung opened #100 "Timecode import issue"
When importing timecode from a srt file, it seems that SE doesn't take the last line into account if it is blank (not text included). Thanks for checking.

[2014-06-01 16:32] Djfe opened #101 "focus list view on current subtitle (auto scroll)"
The list view should be updated to show the current position in the video.
->the current subtitle should be in the middle and their should be a red line to indicate the current position (or the list background should be red).

[2014-06-01 16:41] Djfe opened #102 "support color html tags"
<font color="yellow">text</font> and similar color html tags should be shown in the textarea below the list view and not only below the video

there should be a color chooser next to the textarea as well (which contains valid colors and allows entering rgb colors and so on)

[2014-06-01 16:48] Djfe opened #103 "two sync buttons instead of one (for each videoplayer)"
There should be two sync buttons in the sync window to allow changing only one point at a time
->so that you are able to only change the start point or only the end point
I use one of the videos often to see whether the sync is ok but forget about it and then change the start/end point without an intention to do so

[2014-06-01 17:07] #93 closed, assigned to nobody

[2014-06-06 22:40] niksedk opened #115 "Remove NHunspell.dll from installer (if needed)"
I've removed NHunspell.dll from the project because it gave exceptions when running is visual studio due to missing attributes on import delegate function handlers - this should be fixed now and and the files are now included inside SubtitleEdit which makes it much easier to handle (cpu version/.net framework) and it's also smaller.

[2014-06-07 22:04] ivandrofly opened #117 "Italic tag"
@niksedk what do you think about replace paragraph with contains italic:
<i>foo</i>
<i>bar</i>

to:
<i>foo
bar</i>
since it will be interpreted by players the same way?

[2014-06-08 06:11] #115 closed, assigned to nobody

[2014-06-09 10:02] #100 closed, assigned to nobody

[2014-06-09 14:03] ivandrofly opened #124 "Spanish names"
@niksedk  is https://github.com/SubtitleEdit/subtitleedit/blob/master/Dictionaries/es_MX_names_etc.xml
Spanish names or...?

[2014-06-10 18:46] ivandrofly opened #131 "Todo: Add names"
- [x] pt_PT_names_etc
- [x] fr_Fra_names_etc
- [x] en_GB_names_etc

[2014-06-12 01:35] rebawest opened #139 "[Suggestion] More buttons and functions"
To improve the timing/spotting process, some functions could be added (with shortcuts). Also, buttons could be placed above the waveform or next to it.
For example:
![waveform redesign](https://cloud.githubusercontent.com/assets/6587015/3253076/d4c93766-f1ce-11e3-8a00-1721a998c0e8.png)
![waveform redesign 2](https://cloud.githubusercontent.com/assets/6587015/3253078/dbde2af2-f1ce-11e3-870d-ed10579

[2014-06-14 12:25] ivandrofly opened #149 "Online names"
@niksedk  Isn't better start using [Github](https://raw.githubusercontent.com/SubtitleEdit/subtitleedit/master/Dictionaries/names_etc.xml)
as the default online names instead of [Names](http://www.nikse.dk/se/Names_Etc.xml)
since it's been updated frequently?

[2014-06-14 21:55] rebawest opened #152 "[Suggestion] Ctrl+i changes"
I can program this myself if the idea is approved.

When pressing Ctrl+i on the textbox (not on the list), the behaviour could be as follows:

1) When there is no text selected, the whole subtitle gets the tags.
    [i]All the text.[/i]
2) When there is no text selected AND the line starts with "-", only that line gets the tags.
    [i]-This line.[/i]
    -Not this one.
3) When text is selected, o

[2014-06-15 11:50] #149 closed, assigned to nobody

[2014-06-18 13:51] ivandrofly opened #161 "Auto Update"
What do you think about start using auto updater?

[2014-06-20 20:06] rebawest opened #169 "Possible bug with frames and playback"
I have an mpeg-1 file and its scene-changes file. There is a scene change at 01:19.360 which is correctly placed inthe waveform.
![se frames problem 01](https://cloud.githubusercontent.com/assets/6587015/3345096/bf6b01ec-f8b3-11e3-88e6-8e250edd93d1.png)

I move back and fordward using shortcuts.
![se frames problem 02](https://cloud.githubusercontent.com/assets/6587015/3345097/bf6cfaec-f8b3-11e3-8

[2014-06-20 22:32] adem0x opened #171 "OCR screens need redesign"
I couldn't think of a better subject line; I am sorry if it came across a little harsh.

Please spare some time to with the OCR screens.

First problem: OCR image is displayed in all sorts of shapes and sizes. Could you not make sure the OCR image stretches to fit the available image are --as opposed to current behavior of the form expanding to fit the OCR image.

Second problem: The OCR'ed text (

[2014-06-21 06:54] #152 closed, assigned to nobody

[2014-06-21 19:06] ivandrofly opened #174 "BridgeGaps listViewColor"
@niksedk What do you think to switch the item background color from something more friendly take a  look below, Green doesn't display _foreColor_ friendly...
![new_color](https://cloud.githubusercontent.com/assets/6579818/3349739/f5088bd0-f976-11e3-981f-bfee5e22e1bd.png)
![default_color](https://cloud.githubusercontent.com/assets/6579818/3349742/faeba8b6-f976-11e3-8513-ba77966d99bf.png)

[2014-06-23 16:25] F5System opened #181 "DCP D-Cinema Interop with tag to specific font file"
In DCP-Interop XML standard it is possible to set font file which is locate near subtitles in DCP directory which cinema server will use to show subtitles. It works using this string:
<LoadFont Id="theFontId" URI="Arial.ttf"/>

In XML file it looks like:
<SubtitleID>45c56f55-ceff-4167-a0ea-f2924c65df42</SubtitleID>
<MovieTitle>Movie Title</MovieTitle>
<ReelNumber>1</ReelNumber>
<Language>English</

[2014-06-23 16:33] F5System opened #182 ""Fix overlapping display times" mistakenly marks 0ms overlaps"
I don't know is it a bug or a feature:

In settings I setup "Min. gap between subtitles in ms" to 0ms (zero), then go to "Tools"->"Fix common errors", mark "Fix overlapping display times", and then it shows me subtitles with overlap of 0ms:
00:00:01,000 --> 00:00:03,000 (here it suggests to make it 02,999)
00:00:03,000 --> 00:00:05,000

I my point of view this timings don't need correction, so is

[2014-06-23 18:01] #117 closed, assigned to nobody

[2014-06-23 18:40] #182 closed, assigned to nobody

[2014-06-24 20:46] ivandrofly opened #185 "Find Replace"
@niksedk

There is a problem with find replace **_regex**_ let say we have a text like:
[Text]
foo bar
[Regex pattern]
(foo) (bar)
[Replace with]
$2 $1
[Output]
$2 $1
[Correct output]
bar foo

[2014-06-25 18:08] niksedk opened #188 "Release 3.4.0"
Release SE version 3.4.0

TODO:
- [x] Get updated language files
- [x] Finalize change log
- [x] Test misc. functionality (also with 3.3.x language files?)
- [x] Test installer
- [x] Test load of different formats
- [x] Test Fix common errors

I'm thinking one to two weeks...
Any last important bug fixes missing?

[2014-06-27 04:54] LeonCheung opened #194 "Ctrl + S issue"
When the video player window is activated, if pressing Ctrl + S to save while playing, SE will sometimes crash. I'm using Win8 64bit  with  SE 3.3.15, build 22.

Thanks a lot for checking.

[2014-06-28 15:29] liloneum opened #196 "Wrong time code form in export DCinema interop/png"
Subtitle time shall be:

HH:MM:SS:TTT where HH = hours, MM = minutes, SS = seconds, and TTT = ticks. A “tick” is defined as 4 msec and has a range of 0 to 249.
Alternatively, time may be specified in the format HH:MM:SS.sss where HH = hours, MM = minutes, SS = seconds, and sss = decimal fractions of a second.

Currently, SE is exporting with decimal fractions of a second but with `:` instead  of `

[2014-06-30 15:49] #196 closed, assigned to nobody

[2014-07-02 09:06] liloneum opened #197 "Export DCinema png/smpte"
Same export than interop but with smpte xml structure.
Font file must be declared like in the smpte timed text export even if there is no text in the subtitle.

[2014-07-12 18:47] coldblackcoffee opened #203 ".NET 4 version still need .NET 2 - 3.5 installed."
![fwagawg](https://cloud.githubusercontent.com/assets/8145314/3562507/d8013dc8-09f4-11e4-9d69-865c49be696d.jpg)
![randomjpg](https://cloud.githubusercontent.com/assets/8145314/3562508/d90d1516-09f4-11e4-8650-39af55516bcf.jpg)

Can't run, even skipped.

[2014-07-13 13:06] #169 closed, assigned to nobody

[2014-07-13 18:09] #203 closed, assigned to nobody

[2014-07-14 15:35] Betsy25 opened #204 "cannot add 1 letter words in Options/Word List (3.4.0)"
As seen below, trying to add the word u to the "User Word List" shows a message "Word already exists", while it ain't in the list ? (Adding from within a spell-check says it added the item, while it hasn't happened, and it keeps on pausing for input again on the subsequent occurrences it encounters)

Looks like the input has to be at least 2 chars long, and the default Dutch hunspell spellcheck do

[2014-07-15 16:07] #204 closed, assigned to nobody

[2014-07-21 23:30] Betsy25 opened #209 "Feature Request : remember state of checkbox across sessions."
Regarding the "Auto fix names where only casing differ" checkbox in the Check Spelling screen,
is it possible to remember the state across program sessions ?

Thanks a lot.

[2014-07-31 04:15] Betsy25 opened #215 "Would you think of implementing Tappen's subextractor code ?"
Comparing the way subextractor's "Compare via OCR" works compared to Subtitle Edit's, the former one is extremely smart programmed, and after a few OCR's, and the way it allow to select the correct word where l (el) and I (uppercase i) after the OCR is done, it's able to build some fantastic results after a few usages, resulting in 100% correct OCR's.

Subtitle Edit's method leaves a lot to be des

[2014-08-03 07:11] #188 closed, assigned to nobody

[2014-08-03 07:24] #209 closed, assigned to nobody

[2014-08-03 08:37] vutienphat opened #216 "Batch removing lines"
Hi! I know that SE has Batch convert feature with Search & Replace option.
But I do not know how to batch remove lines that contain the searched word, or remove the line number xxx, from multiple subtitles. Could SE do that?
Please help me.
Thanks in advance.

[2014-08-03 17:26] Betsy25 opened #217 "keep space after dash if next word is "and" or "or"."
Proposition for the "Fix Unneeded Spaces" :

In case of somestring- nextstring, when nextstring is "and" or "or", do not remove the space after the dash.
("en" or "of" in Dutch)

Examples :

(English)

What are your long- and altitude stats ?
There is an X- and a Y-chromosome.
Did you buy that first- or second-handed ?

(Dutch)

Wat zijn je voor- en familienaam ?
Was het in het voor- of najaar ?

[2014-08-03 18:08] #197 closed, assigned to nobody

[2014-08-03 18:52] #217 closed, assigned to nobody

[2014-08-06 13:00] vutienphat opened #218 "[Suggestion] Search in Edit image compare database window"
Could you make a search button in Edit image compare database window, 'cause in many language, there are thousand of character, for ex Chinese. Thanks.

[2014-08-07 16:03] ccbearyeh opened #219 "Save as SCC format break issue"
When I edit an SRT format file and try to "save as" to SCC format, the text line with tags of <i></i> that contain <br /> inside of <i></i> will automatic remove </i> in the end and add after <br />.
For example:
--in SRT format--
<i>[YOUNG MAN]<br />BEAUTIFUL. ISN'T IT?</i>
--convert to SCC format--
<i>[YOUNG MAN]<br /></i>BEAUTIFUL. ISN'T IT?

This bug doesn't happen in my 3.27 version copy, but

[2014-08-07 19:19] #216 closed, assigned to nobody

[2014-08-07 19:42] #219 closed, assigned to nobody

[2014-08-14 12:44] Si2Bim opened #220 "error message"
[code]

[2014-08-19 18:11] aminozone opened #221 "Change frame rate bug?"
Change frame rate from 23.976 to 25 fps doesn't work correctly for me in 3.4.1. It works fine in 3.1 and I can change it  correctly with "Change speed" with 23.976/25 = 95,904%. But that is not implemented in "Batch convert". So that doesn't help me.

[2014-08-19 18:11] #221 closed, assigned to nobody

[2014-08-19 18:13] aminozone opened #222 "Change frame rate bug?"
Change frame rate from 23.976 to 25 fps doesn't work correctly for me in 3.4.1. It works fine in 3.1 and I can change it  correctly with "Change speed" with 23.976/25 = 95,904%. But that is not implemented in "Batch convert". So that doesn't help me.

[2014-08-20 14:50] #222 closed, assigned to niksedk

[2014-08-21 21:53] Blacklands opened #223 "OCR still having problems with the "..." character."
I was importing a vobsub and OCR'ing it, when I noticed that the OCR seems to remove any and all "..." that are not in the middle of a line. So if there's a "..." right at the beginning or at the end of a line, without any characters in front/after it, it will just get wiped.

It may be that the OCR always behaved this way, and I just never noticed. I've been using SubtitleEdit for a while, mainly

[2014-08-24 05:50] #185 closed, assigned to niksedk

[2014-08-24 06:15] xylographe opened #224 "File>Save breaks links"
File>Save (Ctrl-S) will break an existing link, i.e. create a new file (with a new, single link) instead of overwriting the existing file (leaving all links intact).

SE 3.4.1 build 0 [64]
Win 7 SP1
.NET 4.5.2 (CLR 4.0)

[2014-08-24 07:06] #72 closed, assigned to nobody

[2014-08-24 07:22] #59 closed, assigned to niksedk

[2014-08-24 07:28] #45 closed, assigned to nobody

[2014-08-24 11:18] #54 closed, assigned to nobody

[2014-08-24 15:19] #224 closed, assigned to niksedk

[2014-08-28 20:30] marb99 opened #225 "[request] compare subtitles more options"
Hi...

is possible to add more options to compare subtitles.

example:
- be possible to copy text.
- transfer text from a sub to another (from side to side)
- move up and down lines
- edit both subtitles in place.

Compare subtitles is a great tool but is very limited.

I hope you can add more options to this great tool in SE

Thanks

[2014-08-30 21:36] xylographe opened #226 "[bugfix] src/Languages/pt-PT.xml"
Wrong XML tags:

[code]

[2014-08-30 22:39] xylographe opened #227 "Update src/Languages/nl-NL.xml"
Minor update + bugfix.

[code]

[2014-09-01 05:08] #226 closed, assigned to nobody

[2014-09-02 21:00] #227 closed, assigned to XhmikosR

[2014-09-04 05:31] #124 closed, assigned to nobody

[2014-09-05 07:34] kdj1 opened #231 "OCR via MODI not available in SE 3.4.x"
Whenever I import some image based subtitle into SE 3.4.x for OCR processing, the option for using OCR via MODI does not show up. It works ok in SE 3.3.x, so I think this must be a bug in the program.

Also: If OCR via MODI is selected (in SE 3.3.15, say), a list of selectable languages pops up. It seems OCR via MODI only works, if english, french or spanish is selected. Probably because MODI only

[2014-09-05 10:06] kdj1 opened #232 "OCR via IC suggestion: Separate space recognition setting for italics/non-italics"
Hi!
I'm experimenting with OCR via Image Compare, partly due to some issues with tesseract, mentioned in #223.

IC actually works a lot better than I expected, but I've noticed, it's usually not possible to determine a single setting for "No of pixels is space" which is optimal for both italics and non-italics - might depend on the actual subs, of course. For example: With the DVB-subs I'm working

[2014-09-05 17:17] #131 closed, assigned to nobody

[2014-09-06 07:08] niksedk opened #234 "Release 3.4.2"
Release SE version 3.4.0

TODO:
- [x] Test waveform
- [x] Video players
- [x] Test load of different formats
- [x] Test Fix common errors

Hopefully out today... let me know if anything should be added/fixed before releasing

[2014-09-06 07:59] #43 closed, assigned to niksedk

[2014-09-07 06:58] LeonCheung opened #238 "Alt Drag Delay in Waveform"
When Alt + LMB dragging the start/end of the current activated segment (the red wave) in Waveform, it often seems to be delayed a bit (sometimes it becomes more obvious than "a bit"), not works as smooth as dragging the start/end of other segments (those green waves). It's a bit obscure to describe with words here, so I made a short record, please see http://youtu.be/R662W-a59fo

My current PC is

[2014-09-08 13:13] #234 closed, assigned to niksedk

[2014-09-09 07:51] alfaproject opened #240 "Safe OCR italic automatic fixes"
Can I suggest the automatic fix of these italic occurrences?

[code]

to

[code]

and

[code]

to

[code]

[2014-09-11 20:45] xylographe opened #241 ""VLC Media Player" or "VLC media player"?"
The LanguageMaster file currently uses both "VLC Media Player" and "VLC media player". One of these should be used consistently. Which one?

The VideoLAN web page (https://www.videolan.org/index.html) shows  "VLC media player". So, that will be the correct spelling for the Dutch translation. The German translation, obviously, uses the upper case variant. But, what about English?

[2014-09-12 18:43] #241 closed, assigned to nobody

[2014-09-14 18:27] #240 closed, assigned to nobody

[2014-09-14 21:09] rebawest opened #244 "Numeric keys in keypad as shortcuts"
I have defined several numeric keypad keys as shortcuts, in my case, to control the video:

**/**, *****: Move one frame back, forward
**8**, **9**: Move 100 ms back, forward
**5**, **6**: Move 500 ms back, forward
**2**, **3**: Move 1 second back, forward

When the cursor is on the subtitle textbox, pressing “**/**” or “*****” does not write the character; so, those keys work as global shortcuts.

[2014-09-16 15:00] erodas opened #251 "Final Cut Pro X 10.1.2 import/export to/from SE doesn't work"
None of the Final Cut formats I can export from SE imports to FCPX, and vice versa.

[2014-09-20 06:05] LeonCheung opened #266 "Alt drag issues when in Translation mode"
I think there were three issues related about Alt dragging feature when enabling Translation mode.

Please have a check on [this video](http://youtu.be/weCqrQVtx5Y)
1. Alt dragging sometimes failed, which cannot be reproduced every time, but sometimes.
2. When cursor is over the start/end of the currently activated line (highlighted red), Alt dragging works fine; but it failed when it's over the e

[2014-09-20 06:45] #244 closed, assigned to niksedk

[2014-09-26 06:46] niksedk opened #278 "OCR fix replace list - user file"
Split OCR fix replace list in master and user file.

[2014-09-26 08:47] XhmikosR opened #279 "Dialog not detected as one"
This isn't identified as a dialog.

[code]

[2014-09-26 08:48] XhmikosR opened #280 "HI isn't detected"
These aren't detected as HI:
- [x] `RACHEL <i>&</i> ROSS:`
- [x] `RACHEL & ROSS:`
- [ ] `McBLACK`

[2014-09-26 08:49] XhmikosR opened #281 "Fix OCR errors with Greek text"
When I load a Greek subtitle and have fix OCR errors, SE wrongly tries to fix OCR errors when there's no OCR fix list file.
Also some rules are different in Greek. Example: `ό,τι` or `ο,τι` is one word, doesn't need space after the comma.

[2014-09-26 10:20] XhmikosR opened #282 "Hovering mouse over subtitles changes cursor"
Using the latest master and DirectShow on Windows 8.1 64-bit.
When I hover the mouse over a subtitle line, the cursor changes for an instance and then returns to what it was.

![2014-09-26_13-13-44](https://cloud.githubusercontent.com/assets/349621/4419056/96071d9a-4566-11e4-80aa-b79671f7bb66.gif)

The GIF demonstrates the move you have to make to reproduce this; the cursor change isn't captured b

[2014-09-29 03:50] xylographe opened #286 "labelMaxCharsPerSecond location off by +2"
The location of labelMaxCharsPerSecond (Settings Form) is off by +2: it should be (8, 151) instead of (10, 151).

[2014-09-30 10:52] XhmikosR opened #288 "MPC-HC wrong video background?"
DirectShow:

![2014-09-30_13-48-15](https://cloud.githubusercontent.com/assets/349621/4456876/c89ffb6a-488f-11e4-9ad0-fbda3d5b052f.png)

---

MPC-HC:

![2014-09-30_13-48-37](https://cloud.githubusercontent.com/assets/349621/4456879/ccd432b4-488f-11e4-90fa-aeaf3636f580.png)

/CC @niksedk

[2014-09-30 17:39] #286 closed, assigned to nobody

[2014-09-30 17:40] #278 closed, assigned to niksedk

[2014-10-04 09:38] marb99 opened #291 "Italics bug"
Compile the lastest git and there is a bug on italics
![capturar](https://cloud.githubusercontent.com/assets/7856897/4515127/e0f7f5d8-4ba9-11e4-9122-780c804c404e.PNG)

and if I have only one word with italics something gets wrong

ex:
não precisa de Ciências
nem <i>de</i> Matemática.

after line break there is a problem.

![capturar2](https://cloud.githubusercontent.com/assets/7856897/4515136/9a72

[2014-10-04 10:23] #291 closed, assigned to nobody

[2014-10-04 14:16] niksedk opened #292 "Release 3.4.3"
Time for next update soon  - perhaps in 2-7 days :)

Some of the bug fixes would be very nice to get out:
1) Drag'n'drop subtitles bug is very annoying (fixed)
2) Crashes parsing TS files has also been reported many times... (2 bugs fixed)

@alfaproject: Do you think we should create the 'Core' now or after? (is now merged)

TODO:
- [x] Fix bug in reading TS files
- [x] Write unit tests for Tar fi

[2014-10-05 07:50] #281 closed, assigned to niksedk

[2014-10-05 12:16] XhmikosR opened #295 "Display batch convert progress on Windows taskbar"

[2014-10-06 05:09] someperson opened #296 "Inconsistency in EBU STL export"
I've noticed that the VerticalPosition when exported as an EBU STL file is not constant, even when the position is the same. It seems to depend on how many lines there are in each subtitle. I'm not sure if there's a reason for this, but it means that on YouTube at least, subtitles with two lines are higher than those with only one line.

I could "fix" this for now by adding a blank line to every s

[2014-10-06 07:58] LeonCheung opened #297 "Onekey solution to select / activate specific line in Waveform"
I found it's not so convenient to select a single line in Waveform. We can currently do this by following ways, but they all got Pros and Cons:
1. Select the specific line in Line View.
   Cons: have to move cursor back and forth, less effective.
2. Use shortcut like Alt + Up/Down.
   Cons: Only move from one to another one by one, which costs more time if the line is some distance away.
3. Right

[2014-10-06 19:45] XhmikosR opened #298 "Wrong fix uppercase "i" inside lowercase word"
[code]

CC @niksedk

[2014-10-06 19:48] XhmikosR opened #299 "Wrong dialog splitting"
[code]

[code]

Single line max length: 38

/CC @niksedk

[2014-10-07 05:44] #298 closed, assigned to niksedk

[2014-10-07 15:49] #299 closed, assigned to niksedk

[2014-10-08 08:06] XhmikosR opened #300 "Wrong fix for OCR errors after a HI tag"
When there is a HI tag without a period, the next line's first letter shouldn't be fixed to be uppercase.

BTW, this shouldn't be in fix OCR errors...

[code]

/CC @niksedk

[2014-10-08 13:40] niksedk opened #302 ""Tools -> Split long lines" should split dialogs"
"Tools -> Split long lines" should split dialogs where each dialog cannot get its own line due to `SingleLineMaxLength`:

Like:

[code]

[2014-10-08 13:42] niksedk opened #303 "Progress status in title bar"
Translate progress: percent with subtitle orginal and new subtitle. (percent per line translated)
New translation progress: percent with only new subtitle (blank) and translated per movie time.
movie 60min: Translated to 30 minutes is 50%

(some sort of auto-detection of mode or ?)

[2014-10-09 16:36] #194 closed, assigned to nobody

[2014-10-11 06:46] XhmikosR opened #305 "Merge short lines issue"
When a subtitle has 2 lines which begin **and** end with the music symbol, it doesn't make any sense to merge them.

[code]

currently becomes

[code]

which is wrong.

[2014-10-11 06:47] #292 closed, assigned to niksedk

[2014-10-11 06:59] XhmikosR opened #306 "Fix Common Errors OCR with non existent OCR replace list."
When I run Fix common errors with fix OCR errors enabled with a Greek subtitle, I end up with useless and wrong OCR "fixes". Clearly, since there's no fix common OCR error list, this shouldn't happen...

[2014-10-11 07:10] XhmikosR opened #307 "Remove HI: add an option to keep `[bleep]`"
`[bleep]` or `(bleep)`.

[2014-10-14 18:08] #305 closed, assigned to nobody

[2014-10-15 12:12] XhmikosR opened #309 "Wrong fix common OCR errors"
`i.e.` is perfectly fine in this example, yet SE makes it `I.e.`

[code]

/CC @niksedk

[2014-10-15 12:15] XhmikosR opened #310 "Wrong fix for "Start with uppercase letter after paragraph""
[code]

When there's a URL, with or without the `http(s)` part, that rule shouldn't apply.

/CC @niksedk

[2014-10-15 19:55] XhmikosR opened #311 "Hashtag issues `#foo`"
Not sure if there's a foolproof way to detect this. I mean, tags do not have a space after the hashtag and they don't have an end hashtag.

[code]

Also

[code]

This doesn't need to start with uppercase.

/CC @niksedk

[2014-10-16 21:26] diomed opened #313 "customising languages during installation"
it would be useful if users could select their own language during installation, by having dropdown menu with list of languages; where they'd select just their own, which they need, and not others, so people would save some space on hard drive by disabling installer to install so much languages, which are unnecessary. so english + native should do.

[2014-10-19 08:34] #302 closed, assigned to nobody

[2014-10-20 06:12] #220 closed, assigned to nobody

[2014-10-21 10:19] vivadavid opened #318 "Fix concerning quotation marks"
Hello,

I've been posting some comments on Nikse's blog, as well as via e-mail, but this is the first time I write here at the forum. I've known SE for quite some time now, but I recently decided to use it regularly to, among other things, perform OCR on PSG files.

As far as I know, automatic fixes come from a file called spa_OCRFixReplaceList.xml and I have a number of comments about these autom

[2014-10-22 19:47] #309 closed, assigned to niksedk

[2014-10-23 06:27] XhmikosR opened #320 "Recent files are saved regardless of the save history setting"
/CC @niksedk

[2014-10-29 07:02] XhmikosR opened #323 "Wrong fix for uppercase "i" inside words"
[code]

/CC @niksedk

[2014-10-30 18:54] mivk opened #325 "EBU STL: "{\an8}" in front of every title if VP=2"
When importing some EBU STL subtitles, all subtitles start with `{\an8}`.
I understand this is a positioning code (from the ASS standard?), and I think it is supposed to mean "top center".

The EBU STL files where I have seen this have the VP ("Vertical Position") byte set to 2 on each title, and the DSC (Display Standard Code) byte in the header set to 0 ("Open subtitling").

The problem is that

[2014-10-31 21:41] XhmikosR opened #326 "Wrong fix common OCR errors for URLs"
[code]

becomes

[code]

[2014-11-01 06:44] #326 closed, assigned to nobody

[2014-11-07 16:06] LeonCheung opened #327 "Suggestion: Wider format List"
As we see, the current format list seems a bit narrower to expose the full items, which causes many formats can not be seen from that list. Can we consider to make it a bit wider?  :)

![width](https://cloud.githubusercontent.com/assets/494788/4955788/c2f51c38-6697-11e4-8dc6-2c058d2fa33e.jpg)

[2014-11-13 15:05] Vasilich opened #329 "OCRing od DVB subtitles should select colours matched to defined in DVB subtitle palette"
DVB subtitles are standartized to have 4 (standard palette) or 16 (extended palette) colours. Surely transparency and compression do change predefined colours slightly (e.g. EFE775 instead of FFFF00). Would it be possible to select the colour from palette, nearest to detected, when recognizing subtitles via OCR?

[2014-11-15 21:52] #327 closed, assigned to nobody

[2014-11-15 22:00] niksedk opened #331 "Release 3.4.4"
Time for next update soon :)
Mostly just fixes... but it would nice to get them out.

TODO:
- [x] Test open multiple instances on Vista/WinXP (I've heard this should be broken in the last couple of versions)
- [x] Test remove text for HI
- [x] Test Import subtitles from vob/dvd
- [x] General testing...

@alfaproject: Is the matroska refact ready?

[2014-11-16 13:40] #266 closed, assigned to nobody

[2014-11-17 19:39] rebawest opened #333 "[Request] Simple position when importing from Vobsub"
When a subtitle appears at the top, could SE add `{\an8}`?

For example, this subtitle has an offset of 156 pixels. That's 14% of 1080 pixels.

![top subtitle](https://cloud.githubusercontent.com/assets/6587015/5076036/beb8ab30-6e76-11e4-97fe-da055c91022f.jpg)

So, if the Y offset is less than 20 or 25% of the image height, please add `{\an8`.

Thank you. Regards...

[2014-11-20 15:48] XhmikosR opened #336 "Wrong long line break common fix"
[code]

is wrongly detected as long line and is converted into

[code]

Using build from https://github.com/SubtitleEdit/subtitleedit/commit/cacb978

/CC @niksedk

[2014-11-20 17:48] #336 closed, assigned to nobody

[2014-11-24 14:48] alfaproject opened #338 "WPF SubtitleEdit? (:"
I was wondering what you guys think of leveraging the power of WPF in the project?
Microsoft finally finished (100%) converting Visual Studio to WPF in the most recent preview version, and it got me interested again, considering that it's an option for the new Windows Store applications too.

Some parts of the project are really easy to convert from what I can see, and the users wouldn't even noti

[2014-11-25 21:18] ivandrofly opened #339 "Possible BUG"
Hi @niksedk I'm trying to load [this](https://www.dropbox.com/s/w9wud08sqd0ozqd/replace-rules.template?dl=0) but it SE stop working

[2014-11-26 06:29] #339 closed, assigned to nobody

[2014-11-26 09:19] ghost opened #340 "Support for Hardcoded Subs"
I have tried using AVISubrip and Subrip to rip subtitles but both of them weren't helpful. It is really hard to rip subtitles off of the videos and there is no other alternative. Would you consider adding support for hard coded subtitles?

[2014-11-28 23:39] rebawest opened #343 "(Bug) Export to SUP, problems with V, A, M"
This problem happens when exporting to Bluray SUP. "V", "A" and "M" show little "tails".

![image](https://cloud.githubusercontent.com/assets/6587015/5232860/28481396-773d-11e4-8bbc-cea9bd62d100.png) --- ![image](https://cloud.githubusercontent.com/assets/6587015/5232862/3e58e9c6-773d-11e4-9ff7-f3013fa6cc7a.png) --- ![image](https://cloud.githubusercontent.com/assets/6587015/5232865/500c00d6-773d-

[2014-11-29 06:15] #331 closed, assigned to nobody

[2014-11-29 13:44] #343 closed, assigned to nobody

[2014-12-05 21:34] niksedk opened #347 "Bug in matroska parser"
FindTrackStartInCluster does not seem to work...

[2014-12-05 21:50] #347 closed, assigned to nobody

[2014-12-10 22:10] niksedk opened #351 "Import subtitles from mxf files"
mxf files can contain subtitles - SE should be able to extract these...

http://en.wikipedia.org/wiki/Material_Exchange_Format

[2014-12-11 00:42] Ruan12 opened #352 "ポルトガル語を翻訳する電源キーのライセンス"
私はあなたの許可が必要なポルトガル語に翻訳するたかった

[2014-12-12 14:12] niksedk opened #359 "Release 3.4.5"
Still a few annoying bugs... which are now fixed, so SE 3.4.5 will be out soon :)

TODO:
- [x] Fix a few minor bugs...
- [ ] General testing...

[2014-12-12 20:56] XhmikosR opened #360 "Wrong fix first letter to uppercase after paragraph"
1st example

[code]

2nd example

[code]

The problem is `--`; the fix is wrong.

/CC @niksedk

[2014-12-12 20:57] XhmikosR opened #361 "Wrong fix for uppercase "i" inside word"
[code]

http://en.wikipedia.org/wiki/Io_%28moon%29

/CC @niksedk

[2014-12-12 21:28] XhmikosR opened #362 "Use Nuget for more stuff"
Moving from https://github.com/SubtitleEdit/subtitleedit/pull/270#issuecomment-56292578

http://www.nuget.org/packages/Tesseract-OCR/

Not sure what C/C++ runtime the Tesseract version on nuget needs, so 2 might not be needed.
As for 3, I doubt it's worth bothering.

/CC @alfaproject

[2014-12-13 05:47] LeonCheung opened #363 "Change "Video" to "Media""
Since we already support media files other than video (I mean audio), why not change the menu item to a more generic word?   :)

![1](https://cloud.githubusercontent.com/assets/494788/5422746/2602c13e-82ce-11e4-8ab9-4c5756c6752e.png)

PS: I feel there might be other strings related other than just menu, not so sure.

[2014-12-13 09:39] XhmikosR opened #364 "Remove `/unsafe`"
[code]

/CC @alfaproject @niksedk

[2014-12-13 09:42] XhmikosR opened #365 "Project files settings"
I was wondering if we need these:
1. `<GenerateSerializationAssemblies>Off</GenerateSerializationAssemblies>`
2. `<UseVSHostingProcess>true</UseVSHostingProcess>`

/CC @alfaproject @niksedk

[2014-12-13 21:16] #365 closed, assigned to nobody

[2014-12-14 07:25] #362 closed, assigned to nobody

[2014-12-21 18:43] majorl3oat opened #376 "[Thai Language OCR]"
Greeting!
In thai language ocr, sometime not always, ocr function has scan for 2 lines of subtitle. like in image below
![capture](https://cloud.githubusercontent.com/assets/7145189/5519219/a4d82e82-897b-11e4-878b-13e954ccf496.PNG)

is this a bug, or there is an option to make it scan for 1 line of subtitle.

[2014-12-28 17:49] SedoSan opened #382 "Option to search for subtitles that are no stored in unicode"
Hello,
great application!
is it possible to search for none-unicode subtitle files only? in batch conversion mode?
I have an automatic subtitle downloading program and I download subtitles in arabic and most of them are not in unicode format so I use the batch convert to convert those files and sometimes i get over 500 files at once so it takes a lot of time.
It will be easier to just find the new

[2014-12-31 05:24] m8nhia opened #383 "Missing HH in webvtt timecode"
The required time format for webvtt that I need is  HH:MM:SS.MS but in sourceview and when exporting as webvtt file, the time code is saved as MM:SS.MS. Is there a way to correct this or provide format options when saving?

[2014-12-31 08:45] #383 closed, assigned to nobody

[2015-01-03 13:02] ThiefMaster opened #386 "Bulk waveform generation"
It would be nice to have a tool to extract the waveform data for multiple videos in one go. When resyncing an entire season it's quite annoying to wait a minute or two for the waveform data after each episode.

[2015-01-03 15:48] ThiefMaster opened #387 "Windows 7 switches colorscheme to Basic when locking+unlocking the PC while STE is running."
Very weird issue. Happens every single time when I lock my workstation while STE is running.

In case it matters, I have both video and waveform enabled.

[2015-01-04 10:04] #359 closed

[2015-01-06 19:28] #295 closed

[2015-01-06 21:13] ivandrofly opened #394 "Line end chars"
@niksedk  In line [#L2794](https://github.com/SubtitleEdit/subtitleedit/blob/master/src/Logic/Utilities.cs#L2794) shouldn't '-' be added?!

[2015-01-07 15:49] niksedk commented on #351
SE 3.4.5 works with DCinema - don't if other types exists...

[2015-01-07 15:49] #351 closed

[2015-01-08 04:48] rujakgosong opened #401 "Auto-translate (google translate) not work"
my system
Windows 7 64 bit SP1.
I am using SSH tunnel internet connection.
![untitled](https://cloud.githubusercontent.com/assets/9784739/5657997/1d5ff296-972c-11e4-91f4-3e67f8e4e7ae.jpg)

[2015-01-08 06:27] niksedk commented on #401
Have you tried the options -> settings -> proxy ?

[2015-01-09 01:17] ivandrofly commented on #394
@niksedk take a look here

[2015-01-09 02:26] LeonCheung opened #406 "A way to switch texts in different lines?"
Just noticed that sometimes we need to switch texts in two different lines (text only, not timecodes), but I didn't find any existing solutions other than having to cut and paste twice. So I may propose an idea like this. (Or, more often to simply move cell(s) up/down?)

I think this would be a very convenient feature. FYI. Thank you.

[2015-01-10 13:19] franontanaya opened #410 "Buffering not accounted for in SCC start times"
There was a regression at some point between 3.3.9 and 3.4.5.

Currently start times on SCC files are unmodified -- in fact they need to start many frames earlier in order to buffer the text data before the caption gets displayed.

SRT:
[code]

SCC (3.3.9) - frame :20 is 00:01:48,667, that means it's buffering frame data for five frames. The caption has 41 characters, AFAIK it's two characters per

[2015-01-13 17:13] larvanitis opened #423 "Disable native video player subtitles"
Hi.

When I open a video in SE the embedded player (`mplayer` in my instance) automatically opens and displays the subtitles - usually in an incorrect encoding. This is uneccessary because we already have the SE overlayed subs.

Please add `-nosub` (disables auto-selected embedded subtitles) and `-noautosub` (disables external file subtitles) in mplayer argumets found in `src/Logic/VideoPlayers/MP

[2015-01-13 17:42] #423 closed

[2015-01-13 17:46] larvanitis commented on #423
On the patch you missed the last character in -noautosu**b**. Thanks for the quick response!

[2015-01-13 17:49] niksedk commented on #423
Yeah, thx - should be fixed now via https://github.com/SubtitleEdit/subtitleedit/commit/91c0e18f6e3792508501543a4528174e58b7ea06

[2015-01-17 08:10] #238 closed

[2015-01-19 13:04] agijsberts opened #439 "[build] build_helpers.bat fails when git is installed but compiling from zip archive"
I ran into a building error when trying to compile SubtitleEdit from the master zip. The problem is that I do have git installed, which returns an error on stderr since it does not find a repository in the current working path. As a result, CommandLineRunner.RunCommandAndGetOutput returns true, but CommandLineRunner.Result is null. This crashes UpdateAssemblyInfo and subsequently the entire build.

[2015-01-19 17:13] #439 closed

[2015-01-19 17:13] niksedk commented on #439
Does it work for you now?

[2015-01-19 17:27] agijsberts commented on #439
It compiles fine with this fix,thanks. Actually, I should've mentioned in my post that the fix I proposed indeed solved the problem in my case.

[2015-01-19 17:50] niksedk commented on #439
cool, thx for verifying :)

[2015-01-20 09:14] agijsberts opened #440 "[Suggestion] Do not clear sync points after applying sync via other subtitle"
First of all, compliments on this excellent piece of software! I would have a tiny suggestion though to make the workflow of "Point Sync via other subtitle..." a bit more efficient.

Currently, when you apply a sync the sync points are all cleared. I would argue that it would be better to not clear the sync points instead. I believe that the most efficient sync strategy is to first align the two e

[2015-01-20 20:27] #440 closed

[2015-01-23 17:44] ivandrofly commented on #75
Can be closed @niksedk | @XhmikosR

[2015-01-23 17:45] XhmikosR commented on #75
@ivandrofly: I'm no longer a member of SE.

[2015-01-23 18:13] niksedk commented on #75
Fixed in #449

[2015-01-23 18:13] #75 closed

[2015-01-23 20:10] ivandrofly commented on #361
/CC @niksedk  I think this can also be close tested and seems to be fixed

[2015-01-25 14:04] #382 closed

[2015-01-31 12:22] ikaman opened #481 "Vlc cannot load"
When i try to use VLC the field is disabled although I have VLC on my system.

I have traced this problem to
_libVlcDLL = NativeMethods.LoadLibrary(dllFile);

in libvlcdynamic.cs

When i did
int a = Marshal.GetLastWin32Error();
I got 193 which should be
"x000000C1 ERROR_BAD_EXE_FORMAT %1 is not a valid Win32 application."

Not sure why that is.
dllfile is "C:\Program Files (x86)\VideoLAN\VLC\libvl

[2015-01-31 12:23] ikaman commented on #481
It seems that the problem is when using vlc 32 bit on 64 bit system.

When I reinstalled 64 bit vlc on 64 bit system it worked.

Although I was still call this an issue because many people with 64 bits windows have 32 bits vlc (64 bit vlc is not the automatic install from the website you actually have to find it in the download area)

[2015-01-31 13:48] xylographe commented on #481
If, in the top right corner of the media player settings dialogue, it says "64-bit", that is a clear indication that you cannot use 32-bit libraries. This limitation is true for any application.

[2015-01-31 15:12] ikaman commented on #481
ok good enough for me :)

[2015-01-31 15:12] #481 closed

[2015-02-04 13:32] Global90 commented on #303
Please add percent in SubtitleEdit for both methods.
1. new subtitle for translate with movie file(get Current time video and Calculation percent).

2. news subtitle for translate with open orginal subtitle (translate mode) . get Current line translated and Calculation percent.

![untitled](https://cloud.githubusercontent.com/assets/8215910/6041209/74df1966-ac8f-11e4-8fef-2c92eae943a8.gif)

[2015-02-05 12:21] Vasilich commented on #22
tested it with latest SE - no changes. Can I hope that it will be reworked/fixed somewhen?

[2015-02-08 18:12] ivandrofly opened #506 "Add converter for Narrator inside ( or ["
Before:
**(MALE)** Through the years,
I have been known by many names.

*After:*
**MALE:** Through the years,
I have been known by many names.

/cc @niksedk

[2015-02-11 12:07] Betsy25 commented on #506
I hope this becomes a "settable" option, otherwise it might be prone to quite a lot of false positives.

[2015-02-11 13:41] singularita-zz opened #516 "Request: Comparsion -- Add export log"
Could you please add oportunity for exporting results of comparsion (file with just diferences)?

Thanks Singul Arita

[2015-02-11 20:26] niksedk commented on #506
Perhaps a plugin?

[2015-02-11 20:28] ivandrofly commented on #506
:+1:

[2015-02-12 20:29] vysmaty opened #521 "Request: Video player"
Some suggestions (Thanks for anything.)
1) VLC -- option for turning off muxed subtitles in .mkv (I like it, but in sometimes when I do only timing...)
2) some improvements for two screen job --> after maximization of video on the other screen -- the rest (audio and control) should stay at their positions.
3) Option for subtitles at video -- no gray and black strips?

Excuse my English, please.
![

[2015-02-14 02:15] ivandrofly opened #526 "Word List"
https://github.com/SubtitleEdit/subtitleedit/pull/428
https://github.com/SubtitleEdit/subtitleedit/pull/416#issuecomment-69643379
Should anything be done?! /cc @niksedk

[2015-02-14 18:35] TomONeill opened #529 "Request: Multiple subtitle manipulation."
I wanted to sync a whole season of a series whose subtitles were off by 500 milliseconds and it seems to take some work to have to load every single subtitle and change the time codings.

Could you introduce a feature to change time codings for multiple subtitles?

[2015-02-14 18:48] niksedk commented on #529
check Tools -> Batch convert... :)

[2015-02-14 18:48] #529 closed

[2015-02-14 19:39] TomONeill commented on #529
Whoops. Sorry mate!

[2015-02-16 19:21] ivandrofly opened #534 "Dialogue"
**Add add missing dash if text is like:**
Narrator1: Hello!
Narrator2: Hi!

**After:**
- Narrator1: Hello!
- Narrator2: Hi!

[2015-02-19 20:25] niksedk opened #549 "Scaling issues on Mac via Parallels"
I know several people use SE via Parallels on Mac, and that some problems exists.
I cannot check/fix this as I don't have a mac... if anybody think they can fix this please do try :)

[2015-02-20 09:44] solowk opened #554 "Reload or open video after plugin call."
If I want to load from DropBox subtitles and video files by plugin. How a can do it without the hack?

[2015-02-22 16:52] Ede123 opened #563 "Italic detection not working reliably with mixed italic/roman text (VobSub, OCR via Tesseract)"
The italic detection does not work reliably when the VobSubs include strings with mixed italic/roman font style.

E.g. many subtitles include something like

But also many other compinations lead to errors, e.g.

If you need samples I can provide them (tell me how to send the subs to you).

[2015-02-22 18:07] ivandrofly commented on #563
Add a \ before the tag like: \\ \<i>

[2015-02-22 18:18] Ede123 commented on #563
Sorry, I don't understand... Where should I add the \? And how should this fix the detection issue?

[2015-02-25 21:11] #549 closed

[2015-02-28 21:12] ivandrofly opened #592 "Possible Mistake"
Shouldn't this return -1 https://github.com/SubtitleEdit/subtitleedit/blob/master/src/Core/StringExtensions.cs#L95 /cc @niksedk

[2015-03-01 01:36] xylographe commented on #592
The built-in `IndexOf()` returns zero when the pattern is an empty string,
[code]

[2015-03-01 01:58] ivandrofly commented on #592
:+1:

[2015-03-01 02:02] ivandrofly commented on #592
Can be closed /cc @niksedk

[2015-03-01 08:25] xylographe opened #596 "Compare history items"
[SE 3.4.5-399](https://github.com/SubtitleEdit/subtitleedit/commit/e4d5501)
When I try to compare history items, the compare dialogue opens, then closes immediately.
Can someone confirm/deny?

[2015-03-01 08:30] ivandrofly opened #597 "zlib Update available"
https://zlibnet.codeplex.com/ /cc @niksedk

[2015-03-01 08:49] xylographe commented on #596
It sure helps to replace `Show()` by `ShowDialog()`. :smile:

[2015-03-01 09:03] ivandrofly commented on #596
:+1: Nice :D

[2015-03-01 20:15] xylographe commented on #596
Resolved in commit  fdae704a9ebb15fc76d3a8b2c568545df350288e

[2015-03-01 20:15] #596 closed

[2015-03-03 03:03] franontanaya opened #606 "BDN export: XML file without line breaks"
Running SubtitleEdit 3.4.5 with mono on Ubuntu 14.10.

The XML index generated by the BDN export doesn't have any line breaks. This can be problematic when an application loads the contents and tries to parse a single 130KB long line.

[2015-03-03 13:40] CennoxX opened #608 "Request: Option: timeline always on focus"
If I click on space (and I'm not editing a textfield), I expect the waveform-timeline to react. But instead if I clicked previously on a button, this button will be pressed a second time currently. This is especially useless, if the button is something like "Auto br", which will only change something for one time (and a second click doesn't change anything at all). Or if I click on "Play from just

[2015-03-03 17:25] franontanaya opened #609 "Request: Export as 8 bit indexed PNG"
It seems some tooling expects 8 bit (255 colors) indexed PNGs for formats like BND XML+PNG.

Running SE 3.4.5 on Ubuntu 14.10, the output is full RGB PNG. Batch converting them afterwards is fairly trivial, but a checkbox option would be nice.

[2015-03-03 18:35] #592 closed

[2015-03-03 19:46] #606 closed

[2015-03-06 17:42] seriousam opened #617 "Can't save"
Using the latest portable version, windows 7 64x, klite codec pack.

All I'm trying to do is to "adjust all times to show earlier/later" +1second.
When I save the changes using "save as", it asks me weather I want to over-right  the original file, I select yes but nothing happens. When I open the movie, the subtitles are not adjusted.
After saving, If I open the same .srt file using SE, the subtit

[2015-03-07 13:55] ivandrofly opened #621 "Hearing Impaired"
*Input:*
[code]
*Ouput:*
1
00:01:26,486 --> 00:01:27,590
I'm trying to! <b>```:```</b> Faster now. evacuate.

Note: if ***!*** wasn't there all the text would be removed
Should be fixed with: [Compare](https://github.com/SubtitleEdit/subtitleedit/compare/master...ivandrofly:fix/fix-2?expand=1)
Running some test

[2015-03-07 17:51] #621 closed

[2015-03-07 19:44] Orvid opened #623 "Installer should install to "Program Files" not "Program Files (x86)""
Currently, even though the installer defaults to installing in `Program Files (x86)`, even though this is a .net program, and runs as 64-bit on 64-bit platforms.

[2015-03-08 18:23] ivandrofly opened #628 "Video player strange behavior"
Video player will play/pause after hiding it if you click in area corner bottom right of SE...

[2015-03-08 19:22] niksedk commented on #628
Where exactly? Perhaps a screenshot? (clicking in the video area will play/pause)

[2015-03-08 19:50] ivandrofly commented on #628
![subtitleedit](https://cloud.githubusercontent.com/assets/6579818/6547307/47f080f6-c5cc-11e4-946e-d6718779cc3e.PNG)

[2015-03-08 19:51] ivandrofly commented on #628
![subtiitleedit2](https://cloud.githubusercontent.com/assets/6579818/6547318/6edc7bf2-c5cc-11e4-81d2-5896736501e1.PNG)
![subtitleedit](https://cloud.githubusercontent.com/assets/6579818/6547319/6ee4cb90-c5cc-11e4-8cf8-fdfd776be242.PNG)

[2015-03-08 19:54] ivandrofly commented on #628
I'm using VLC portable version 64x

[2015-03-11 05:52] marb99 opened #632 "MultipleReplace bug"
Hi...

in MultipleReplace i can only search and replace a single with checkbox checked at a time.

if I have multple checkbox checked for search and replace nothing happens.

![capturar](https://cloud.githubusercontent.com/assets/7856897/6591006/ad079b82-c7b1-11e4-9917-4c64b3ca57da.PNG)

I think the bug was introduced here in this change: https://github.com/SubtitleEdit/subtitleedit/commit/2baf6d9

[2015-03-11 20:59] niksedk commented on #632
Thx @marb99 and @Ivandrofly :)

[2015-03-11 20:59] #632 closed

[2015-03-12 11:32] rujakgosong commented on #401
no, i am using proxyfier

On Thu, Jan 8, 2015 at 1:27 PM, Nikolaj Olsson <notifications@github.com>
wrote:

[2015-03-13 20:45] Betsy25 opened #639 "Feature Request : Open storage folder"
Hi,

People using & updating SE a lot often install updates, thereby something mixing regular- & portable installs, therefor, for example, once they're on the "Settings / Word Lists" page, they have not the slightest idea where their word lists actually exist on disk.

Wouldn't it be handy to have some "Open List's Folder" button on that "Settings / Word Lists" page ?

I myself have ended up with

[2015-03-15 08:40] #639 closed

[2015-03-15 17:28] ivandrofly opened #652 "Fix Uneeded Spaces"
[code]
**To:**

[code]

[2015-03-22 17:08] niksedk opened #668 "Release 3.4.6"
I don't have too much time ATM, but SE 3.4.6 has a nice long change list, so we better get it out - in about a week or so.

If anyone has some time to spare please do test:
- Batch convert (can also be used to test most of Remove text for HI + FCE)
- Remove text for HI
- Fix common errors
- all the rest...

Let me know if you know any bugs or small annoying stuff that could easily be fixed.

[2015-03-26 23:39] diomed opened #672 "OCRFixReplaceList.xml question"
Can OCRFixReplaceList.xml in Dictionaries be standalone file independent of any other language files in dictionary?

I mean to send new patch for cro_OCRFixReplaceList.xml for Croatian language purposes, but I'm unsure of would it display automatically in SE, since currently it does not. Maybe it needs connecting with something,  for proper display? could you do that?

[2015-03-27 07:30] xylographe commented on #672
I think, the three letter ISO language name for Croatian might be hrv ,
[code]

[2015-03-27 09:05] diomed commented on #672
well, that's the least of my problems, I'll name it hrv if that's a must.
I'd like an answer to my questions, please.

[2015-03-27 10:26] vivadavid commented on #318
Hello, Nikse,

I don't want to seem pushy, but I reported this issue last October and nobody has said anything about it. I think it's an important issue and I hope it's dealt with in the foreseeable future.

Please let me know if I didn't explain the whole thing very well.

Regards,

David

[2015-03-28 08:28] niksedk commented on #672
The OCR fix replace lists can be standalone and will be used by Tools -> Fix common errors -> Fix common OCR errors.

When used via the OCR in SE the spell check dictionary is required to use the ocr fix list. The ocr fix replace list file is determined by the spell check language you choose in the ocr window.

[2015-03-28 08:42] #628 closed

[2015-03-28 08:45] niksedk commented on #628
Nicely found - gave some weird functionality ;)

[2015-03-28 08:54] niksedk commented on #617
I cannot re-create anything about not saving after adjusting all times... neither with save or save as.

If the file is in use, you will get an error like this:
The process cannot access the file 'video.en.srt' because it is being used by another process.

[2015-03-28 08:54] #617 closed

[2015-03-28 09:45] niksedk commented on #597
Seems to another zlib project...

[2015-03-28 09:45] #597 closed

[2015-03-28 18:54] diomed commented on #672
Thank You for explanation. This is solved and can be closed.

[2015-03-28 19:28] diomed opened #675 "Replacing default icon?"
I noticed how gray and outdated icon that represents program looks.

So, I took the liberty of asking icon designer **Philippe Hong** make new, better one.
He agreed and only asked to credit him.

I hope you'll accept this, and replace that old gray icon with new, modern one

![subtiteeditor](https://cloud.githubusercontent.com/assets/72777/6882505/637f9d32-d587-11e4-9c30-b2e4c8516fe8.png)

My apo

[2015-03-29 23:22] aaaxx opened #679 "FEATURE REQUEST: Groupings for Multiple Replace tool"
Any chance you can add groupings to Multiple Replace tool? With names for each group, and checkmarks for both the whole group and individual actions inside the group.

[2015-03-30 17:02] diomed commented on #672
ummm... something is unclear to me. should 'WordPart' change parts of words to fixed parts of words, or what exactly?

So if I have wrongly written homeybee would this change every homeybee in honeybee or not?
    <WordPart from="homey" to="honey" />

I need explanation on this.

[2015-03-30 18:29] niksedk commented on #672
WordPart is part of a word, e.g. "vv" to "w" or "oo" to "cc" - it will only be replaced if the current word is not spelled correctly and the new word is, like "vvelcome" to "welcome".

[2015-03-31 15:09] aaaxx opened #682 "Bug or just weird regex flavour?"
The replace function doesn't work (i.e. it doesn't change anything and skips to the next occurrence) when lookahead or lookbehind is used in Find field.

[2015-03-31 15:24] niksedk commented on #682
Could you give some examples?
Also, it's probably Microsoft flavour... see more here: http://www.nikse.dk/SubtitleEdit/Help#multiple_replace

[2015-03-31 17:16] aaaxx commented on #682
If I try to find one or two words after punctuation at line end (unpleasant line breaks) using this:
`(?<=[,;.:!?])( )([^] ,:;!?]+( [^] ,:;!?]+)?)(\r\n)`
and push them into next line by replacing with this:
`$4$2$1`

... nothing happens when clicking the Replace button.

(Currently I just use a capturing group instead of that lookbehind, but I see no reason why lookarounds shouldn't work.)

[2015-03-31 18:24] marb99 opened #683 "Get plugins list bug"
Unable to download plug list: mscorlib: Input string malformed
![capturar](https://cloud.githubusercontent.com/assets/7856897/6926048/8f387bf0-d7db-11e4-8ce8-746b334fe444.PNG)

[2015-03-31 18:28] niksedk commented on #683
What version of SE are you running?

[2015-03-31 19:48] aaaxx opened #684 "FEATURE REQUEST: support for chapter files"
It would be very handy to be able to work with chapter files. They sometimes also need framerate conversion and delay adjustments.

Support for Matroska chapter format (xml) would be ideal, or at least the simple OGM format (txt).

[2015-03-31 21:18] marb99 commented on #683
SE 3.4.6

[2015-04-01 07:37] xylographe commented on #682
Your example works fine in Multiple Replace. Must be a bug in simple Replace.

[2015-04-01 08:16] ivandrofly commented on #682
Well, have you tried to remove \r\n

[2015-04-01 12:55] Betsy25 commented on #683
Can't reproduce here (3.4.6, Win7, default install)
Window opens fine.

[2015-04-01 15:05] xylographe commented on #682
I can confirm it is a bug. The normal Replace works in two steps: regex.Match() and regex.Replace().
To succeed with a look-behind assertion both **should** use the same offset (index) into the text.

Example: `text` == `a b! c\r\nd e.`
The regex.Match() starts at index zero (the 'a' at the start of the text). But regex.Replace() starts at index four (the space after the exclamation mark). Obvious

[2015-04-02 13:50] frankfromaustria opened #685 "Only first 17 subtitles imported from MKV"
Hi,
I just installed SubtitleEdit to convert VobSub to SRT - it worked great with external .sup files, but I ran into trouble when opening MKV files. I hope it is okay if I post my question here: I tried it with several MKV files that contain vobsub subtitles, and when opening, subtitle edit will only use the first 17 subtitles. I am using it on Windows 8.1 64 Bit and have selected VLC (64 Bit) as

[2015-04-03 02:04] xylographe commented on #685
You could check if all failing mkv files have been generated by the same software,
[code]

[2015-04-03 06:08] niksedk commented on #683
Should be fixed by commit 54e6d53231aca314a0026198e04b5bdb6f932c4c - was related to the current users settings (decimal symbol).

[2015-04-03 06:08] #683 closed

[2015-04-03 11:48] niksedk commented on #685
Also, what version of SE are you using?
3.4.5 had some (refactoring) bugs regarding MKV...

If SE 3.4.6 is still having problems I would like to see a sample file... (you can also email a link or sample file)

[2015-04-04 11:19] frankfromaustria commented on #685
Thank you for your answers.
All the MKVs have been created with MakeMKV.
I am using the current SE version, however it seems the files might be the problem. (Unfortunately, they are quite big, >30gig per file).

[2015-04-04 13:34] niksedk commented on #685
OK, I've never tried MakeMKV but I'll give it a go.
You can split large files with a tool like mkvtoolnix: http://www.my-guides.net/en/guides/general-video/how-to-split-mkv-files-using-mkvtoolnix

[2015-04-05 09:07] vsemozhetbyt opened #690 "Feature request: Find History"
Could you add history list to the find dialog, please.

[2015-04-05 10:00] niksedk commented on #690
It's already there... you mean persistent after restarting?

[2015-04-05 10:13] vsemozhetbyt commented on #690
Sorry, yes, I do mean persistent one. For example, I've just split some subtitles by key word «Chapter N...» and each time I had to enter the  key word manually for new subtitle file after SE restarting.

[2015-04-05 11:21] #690 closed

[2015-04-05 11:22] niksedk commented on #690
Does 15 sound like a reasonable number of history find items?

[2015-04-05 11:28] ivandrofly commented on #690
I think 10 would be nice :wink:

[2015-04-05 12:21] vsemozhetbyt commented on #690
I think 15 is OK and even 10 would be enough. Thank you a lot.

[2015-04-05 15:51] LeonCheung opened #696 "Feature Request: Merge lines AND unbreak"
I wonder if it is possible to ask for a feature like "Merge selected lines and unbreak". For many many times, in order to merge two short lines as one single sentence, I have to first hit Ctrl Shift M, then click the "Unbreak" button. I found this is sort of inefficient. Highly appreciated for a new shortcut setting which can make this quicker.  :) Thanks!

[2015-04-06 04:16] #668 closed

[2015-04-06 04:18] niksedk commented on #386
Fixed in 3.4.6 :)
In the "Video" menu... "Batch generate waveforms..."

[2015-04-06 04:18] #386 closed

[2015-04-06 05:02] xylographe commented on #679
In addition, it would be nice if groups could be (optionally) language dependent. Perhaps, by adding the three letter ISO language name as a postfix to the group name,
- Foo
- Foo[fra]
- Foo[nld]

The second and third group would be automatically disabled (unchecked) if the current subtitle is not French or Dutch, respectively. The first group would be language independent.

[2015-04-06 07:26] #672 closed

[2015-04-06 09:00] #682 closed

[2015-04-06 09:26] niksedk commented on #682
Nice regex :)

Should be fixed now... you can compile the source from github or test this portable version: http://www.nikse.dk/SubtitleEdit.zip (beta)

[2015-04-06 19:01] ThiefMaster commented on #386
Thanks! Dropping mkv files on the panel doesn't work though

[2015-04-07 16:00] niksedk commented on #386
thx - should be fixed in this commit - https://github.com/SubtitleEdit/subtitleedit/commit/ac85ef8eae3d18a3c348c235aa57e1546a396e5c

[2015-04-09 12:55] chenlung commented on #81
Sorry to bump, but I would like this as well.

I've tried a number of subtitle editors on Mac, and it's hard to find a good one.

[2015-04-10 21:48] aaaxx opened #705 "FEATURE REQUEST: Centering on the longest line when exporting image-based subs"
Could you add an option to center only the longest line and left-align the shorter lines to the beginning of the longest one. In other words, the subs are left-aligned but the whole block is centered. It should also work automatically for right-to-left languages (in that case shorter lines are right-aligned).

For example:

[code]

[2015-04-12 14:15] LeonCheung opened #706 "[Suggestion]Translate Mode > Auto Repeat: make the current 200ms delay optional"
It seems to behave by design, because it also plays 200ms ahead of the start tme. However, I really think we can make this "larger play range" optional,  each time it will play a small piece of the next line, which brings a certain amount of distraction to translators.

![delay](https://cloud.githubusercontent.com/assets/494788/7105868/971168ee-e160-11e4-98c6-17675c3eca5c.jpg)

As shown in the ima

[2015-04-14 18:13] rebawest commented on #705
This is called "justification." Instead of "Align", justification might be better to have.
Alignment is controlled with tags: AN1, AN2, AN8, etc., so maybe we don't need it in that dialogue window.
But justification could be useful. Something like this:

![image](https://cloud.githubusercontent.com/assets/6587015/7143788/b4480e2e-e2b7-11e4-8782-2276e990a710.png)

Each DropDownList in Fab Subtitler

[2015-04-14 18:40] elmonta commented on #705
I did not do substitles

On Tue, Apr 14, 2015 at 8:13 PM, rebawest <notifications@github.com> wrote:

[2015-04-19 19:56] rebawest opened #712 "Add "Reaction time" to settings"
When timing using shortcuts, such as "Insert new subtitle at video pos" or "Set end time", I notice there is a hidden setting called **SetStartEndHumanDelay = 100;**

Could yo please add it to the settings window. Something like this:
![image](https://cloud.githubusercontent.com/assets/6587015/7220932/99286d76-e6b0-11e4-9d86-350fd72e0a39.png)

Also, I tried changing the value at **SRC/LOGIC/SETING

[2015-04-19 21:38] richja opened #713 "Go to next line without video position"
Hi,
is there a way to not changing video position when I go to next/previous line using shortcut?
Setting for double-clicking line in main list view doesn't apply for that.

[2015-04-20 04:47] LeonCheung commented on #713
Video position will only sync in Translate mode, you can try doing so in other two modes.

[2015-04-20 09:22] richja commented on #713
Thank you for response, but sadly it doesn't work for me in neither. Same behaviour.

[2015-04-20 09:48] LeonCheung commented on #713
Hmm, it works for me. :-\     What shortcut exactly are you using? (I suggest you upload a short example video to expose the problem)  :)

[2015-04-20 10:02] xylographe commented on #712
Why change the source code, instead of the actually used value in
`"${env:APPDATA}\Subtitle Edit\Settings.xml"` ?

[2015-04-20 10:14] richja commented on #713
I use alt+up and alt+down (I have also  defined my own in settings "go to next/previous line" with same result). Good idea with video, will add it later. (If you know Subtitle Workshop, this app has exact behaviour I would like to achieve.)

[2015-04-20 12:58] rebawest commented on #712
Because I'm a programmer and I'm trying to make some changes to InsertNewSubtitleAtVideoPosition and to other functions, hopefully to improve them.
Also, when I pressed F12, Visual Studio took me to settings.cs.

My request is still valid: to add the "Reaction time" to the settings window so that it doesn't remain a hidden parameter.

[2015-04-25 20:53] XuTpuK opened #719 ""culture is not supported" error"
Hi! I opened russian subtitles then tried to edit some line (at bottom in TextBox). When I typed a letter, program is crashed with "culture is not supported" error. Why so?

[2015-04-29 21:16] ivandrofly commented on #719
@XuTpuK could you provide screenshoot?

[2015-04-30 17:34] XuTpuK commented on #719
Easy! I even spot the moment it happen: when I put cursor in subtitle editor TextBox and switched to Russian locale.

Place where you see "Начались схватки" at the bottom – it's where I put cursor.

From: Ivandro Ismael [mailto:notifications@github.com]
Sent: Wednesday, April 29, 2015 11:16 PM
To: SubtitleEdit/subtitleedit
Cc: XuTpuK
Subject: Re: [subtitleedit] "culture is not supported" error (#7

[2015-05-03 14:43] miniop opened #727 "Renumber in batch convert"
Hey i would like to ask if it is possible in the batch convert to add also the renumber.

Thanks

[2015-05-03 21:22] ivandrofly commented on #727
Working on it ;) /cc @miniop

[2015-05-03 23:25] ivandrofly commented on #727
http://www43.zippyshare.com/v/FflwMyGV/file.html /cc @miniop
Let me know if is that way you wanted

[2015-05-04 02:15] miniop commented on #727
yess!! :) thank you very much

[2015-05-05 22:09] ivandrofly commented on #727
;) @miniop

[2015-05-05 22:16] diomed opened #732 "Croatian language file issue"
@xylographe you've messed up updates of Croatian language file [probably 15 days ago]
when you were adding some changes from your repository.

Last official version of SubtitleEdit has very different file, with lots of language fixes,
which are now degraded. how come you didn't update file from official repo before changing it? :(

p.s. please come to [![Gitter](https://badges.gitter.im/Join%20Cha

[2015-05-06 08:45] xylographe commented on #732
As you can see [here](https://github.com/SubtitleEdit/subtitleedit/commit/10ecc81c67d159cdf8db481df3865430b1edf5ab#diff-85a0a3b706e17fbd5b9e42e7d70b5b0c), the *automated XML upkeep* commit effects formatting (white space) only.

See also the [hrv_OCRFixReplaceList.xml commit history](https://github.com/SubtitleEdit/subtitleedit/commits/master/Dictionaries/hrv_OCRFixReplaceList.xml).

The [patch-2]

[2015-05-06 09:23] diomed commented on #732
I'm not talking about OCR. I'm well aware of those not being merged,
since I'm checking and fixing some things that shouldn't be there.

I'm talking about https://github.com/SubtitleEdit/subtitleedit/blob/master/src/Languages/hr-HR.xml

where some of the words I've fixed and replaced, and were fine in official release,
are now reverted back to their previous state.

[2015-05-06 10:33] xylographe commented on #732
`U&amp;kloni` is XML syntax for `U&kloni` (the `&` character must be escaped in XML). The `&` before `k` tells Windows that `Alt K` is a keyboard shortcut for opening the menu or selecting the menu item. The `&` will not be displayed, the `k` will be underlined when you press the `Alt` key.

Looking at [the hr-HR.xml history](https://github.com/SubtitleEdit/subtitleedit/commits/master/src/Language

[2015-05-06 12:16] diomed commented on #732
I see, so that's for shortcuts. That explains a lot.
Though, I also se 0 activity on his github profile page and 0 repositories. How is that possible then?
I'll have to change some of the mistakes all over again.  Back to square 1.

[2015-05-06 17:20] xylographe commented on #732
Your changes are still in the repository history. You could copy [this hr-HR.xml](https://raw.githubusercontent.com/xylographe/subtitleedit/xhr0/src/Languages/hr-HR.xml), and search for line pairs marked with M (master) and D (diomed) at the start of the line.

[2015-05-06 17:37] xylographe commented on #732
@diomed: It is possible, because commit 32d86a135e78e53479fbc647e35469429d242a42 was **committed** by *niksedk*, and not by its author, *jozo65*.

[2015-05-07 13:58] oallouch opened #736 "3d sup"
Hi, I just discovered Subtitle Edit. Impressive.
But I didn't find where (or if) we can export to 3D sup format.
It is possible/planned ?

Thx a lot in advance,
Olivier

[2015-05-07 14:02] #736 closed

[2015-05-07 14:02] oallouch commented on #736
Oups. Found it ! :)

[2015-05-08 17:47] #732 closed

[2015-05-10 16:06] sbraz opened #746 "Remove text for hearing impaired leaves additional space in when removing text in the middle of a line"
Hi, when a word present for HI is removed in the middle of a line, two spaces appear instead of one:
[code]
is replaced with
[code]
The correct output would be:
[code]

[2015-05-14 21:21] oallouch opened #755 "Size of 3D sup export"
My player needs the sup file to have the same width than the video file.
Is it possible to set the width of the 3D sup file export ?

Thx in advance,
Olivier

[2015-05-20 05:01] AnkushSeth opened #763 "How to convert .srt file with Asian language to .pac format"
Hello there,
I am using subtitle edit to convert srt files into .pac files. Its working great. But i face issues while working with Unicode data. It is making junk files. Can i have any suggestions on this?

[2015-05-20 20:50] xylographe commented on #763
Do you mean Thai subtitles?

[2015-05-21 04:36] AnkushSeth commented on #763
No ! I mean languages like Indian,Chinese,Japanese ,etc which have unicode format not "ANSII"

[2015-05-21 16:29] ivandrofly commented on #746
@niksedk  | @sbraz  can be closed

[2015-05-24 04:33] mlpo opened #776 "Allow to use OCR corrections on all files."
Hi!

It would be great if it were possible to apply OCR corrections on all files, even without performing OCR. Indeed, currently the only way to correct OCR errors is to use "Import/OCR"; it would be nice to use the corrections directly (eg. on a .srt).

Thank you.

[2015-05-24 07:11] niksedk commented on #776
To fix OCR errors in a srt file, try Tools -> Fix common errors: "Fix common OCR errors"... also you can use some of the other common fixes, and also Edit -> Multiple replace can help.

[2015-05-24 11:51] mlpo commented on #776
Yes, indeed, I did not see this option. My bad. Thank you.

Issue solved ;).

[2015-05-24 11:51] mlpo commented on #776
Yes, indeed, I did not see this option. My bad. Thank you.

Issue solved ;).

[2015-05-24 11:51] #776 closed

[2015-05-25 06:08] niksedk commented on #763
PacUnicode is another format...
I do have a Chinese sample file so "Chinese Traditional (Big5)" could probably be added. If you have samples of Indian or Japanese do post them there (you can also email)

[2015-05-25 06:38] AnkushSeth commented on #763
Hello Nikolaj,

Thanks for the reply! I have Indian language file that needs to be
converted to Pac file. I am attaching the file. when i convert this file
with SE then it gives me junk output.

Ankush Seth
Project Engineer
CDAC-GIST
Pune
+91 9527303360

On Mon, May 25, 2015 at 11:38 AM, Nikolaj Olsson <notifications@github.com>
wrote:

[2015-05-25 06:41] AnkushSeth commented on #763
Hello Nikolaj,

Thanks for the reply! I have Indian language file that needs to be converted to Pac file. I have mailed you the files. Please suggest me how can i convert them.Your help is required. Thanks !

[2015-05-25 06:52] niksedk commented on #763
I've not received any pac files?
Also, you can test the Chinese in this test version: http://www.nikse.dk/SubtitleEdit.zip (or use latest source)

[2015-05-25 08:05] AnkushSeth commented on #763
Hello Nikolaj

Please find the attached files.

Thanks & Regards,
Ankush Seth
Project Engineer
CDAC-GIST
Pune
+91 9527303360

---------- Forwarded message ----------
From: Ankush Seth <ankush1890@gmail.com>
Date: Mon, May 25, 2015 at 12:08 PM
Subject: Re: [subtitleedit] How to convert .srt file with Asian language to
.pac format (#763)
To: SubtitleEdit/subtitleedit <
reply@reply.github.com

Hello

[2015-05-25 08:13] AnkushSeth commented on #763
Nikolaj ,
Just one query? why the software asks for code page. can't all text be treated as Unicode. And then we will have support for all the languages of the world? Pardon me if i am wrong!
Thanks

[2015-05-25 12:58] niksedk commented on #763
Hi AnkushSeth,

We would need Indian pac files... not srt files.
The problem with pac files is that they are not unicode files or text files - it's a format by Screen Subtitling Systems (with no public specs as far s I know)

[2015-05-26 15:47] oallouch commented on #755
Or do you know where I case find a doc explaining the .sup file format ? Maybe I can use a Photoshop batch to resize the images.

[2015-05-26 20:55] niksedk commented on #755
It might be possible to add a 'full frame' check box... (is already used for some other formats)
Would that help?

[2015-05-27 09:16] oallouch commented on #755
Ooooh yeah ! That would help.

[2015-05-28 07:59] diomed commented on #675
@niksedk  What are your thoughts on this suggestion?

[2015-05-28 13:05] niksedk commented on #675
Sorry, I'm not really too impressed... does not really look like an icon. Also tried to add it to an exe file - did not look pretty...

[2015-06-02 21:14] msl521 opened #819 "Multi-line captions in SRT files created by MacCaption not imported correctly"
When exported from MacCaption, multi-line pop on captions are separated by CRLF. When one of these SRT files is opened in Subtitle Edit, only the first line of the caption is kept. A minimal example is below. When that is opened in Subtitle Edit, only **Line1** is kept.

[code]

[2015-06-03 14:39] oallouch commented on #755
Any news on that matter ?

[2015-06-03 16:17] msl521 commented on #819
Digging deeper on the MacCaption side, this format is what MacCaption calls "Youtube .srt" but comes up in Subtitle Edit as "SubViewer 2.0 (.sub)".

[2015-06-03 16:27] niksedk commented on #819
It would be easier with a sample file... you possibly add a link here or send it in an email?

[2015-06-03 16:31] msl521 commented on #819
There is a sample in my original comment and [here](https://gist.github.com/msl521/0a626a09574a4bff56ea#file-maccap_youtube-srt).

[2015-06-03 17:34] niksedk commented on #819
Do you have a sample *file*

[2015-06-03 17:47] msl521 commented on #819
Same as the other two places: https://drive.google.com/file/d/0BwCJo1usxdkdcTJGVDVtWG5oNEU/view?usp=sharing

[2015-06-03 18:03] niksedk commented on #819
lol, you don't have longer file?

[2015-06-03 18:08] msl521 commented on #819
Here's a [30 second file](https://drive.google.com/file/d/0BwCJo1usxdkdX0tuWHFvaUdpMWc/view?usp=sharing). The other is the minimum required to reproduce the issue.

[2015-06-05 23:07] YamashitaRen opened #830 "Can't OCR with Tesseract3.03 on Linux"
Hello,
I'm surprised nobody reported it yet (well, I'm facing this bug for 1 year so...) but SubtitleEdit can't OCR pgs/sup (and maybe vobsubs too) with Tesseract 3.03rc1 (and 3.04rc1 too). When I start the OCR, it takes way more time than usual and OCRed lines are orange and "empty".
OCR works perfectly with Tesseract 3.02.02 installed.

edit : I'm using Archlinux and this bug is confirmed on Ubu

[2015-06-07 21:41] kowpa1990 opened #836 "Prohibition of the use other than UTF-8 character set in the WebVTT files"
http://dev.w3.org/html5/webvtt/

These files must be created in accordance with the specification.

[2015-06-09 23:28] Ede123 commented on #727
@ivandrofly: Any chance for a patch / pull request?
I would love to have this feature, too!

[2015-06-09 23:41] ivandrofly commented on #727
yeah... I just need to setup a few thing ;)

[2015-06-13 07:55] niksedk commented on #836
OK, SE can force UTF-8... SE writes files and the specs says nothing about UTF-8 BOM header, but it will be included... MIME type is only for web...

[2015-06-13 07:57] #836 closed

[2015-06-13 16:28] niksedk commented on #819
Thx for the longer file :)
After looking at YouTube subtitle support page ( https://support.google.com/youtube/answer/2734698?hl=en# ) I was rather... disappointed. Your file should be a "SubViewer 2.0" file for YouTube (if this file is a SRT from MacCaption, then MacCaption has mislabeled the export text). Further more YouTube's version of a "SubViewer 2.0" file is incorrect (wrong new line + tim

[2015-06-13 16:29] #819 closed

[2015-06-13 16:32] niksedk commented on #819
You can compile latest source from github or use this portable beta: http://www.nikse.dk/SubtitleEdit.zip

[2015-06-13 16:43] niksedk commented on #830
thx for the info - don't have Ubuntu atm...

SE acutally just call tesseract via cmd line, like this:
tesseract "someimage.png" "someoutput.txt" -l eng -psm 6 hocr

Could you give the the tesseract cmd line a try and see if you can find a syntax that works?

(a bit annoying that a final has not been released for nearly 3 years)

[2015-06-13 16:46] niksedk commented on #746
Yes, this works in latest beta: http://www.nikse.dk/SubtitleEdit.zip (portable)

[2015-06-13 16:46] #746 closed

[2015-06-13 17:01] YamashitaRen commented on #830
Ah !
If you use the hocr output, then I think I faced the exact same bug in one of my scripts : Tesseract 3.02 used .html extension when Tesseract >3.03 now uses .hocr extension.
http://pastebin.com/VQ0n5QCV

(yeah project doesn't seem very "dynamic" theses days)

[2015-06-13 17:10] #830 closed

[2015-06-13 17:13] niksedk commented on #830
thx for the info :)
Github updated + latest beta uploaded here: http://www.nikse.dk/SubtitleEdit.zip (portable version)
Does it work again?

[2015-06-13 17:14] niksedk commented on #727
Should we just always renumber?
Could there be any reason not to renumber?

[2015-06-13 17:18] niksedk commented on #719
I cannot re-create this... what OS are you using?

[2015-06-13 17:20] Ede123 commented on #727
I can't think of any...

Maybe just add an option to "normalize" subtitle files (e.g. renumber, remove double blank lines, remove blank lines at the end of file, etc.) could be added.

[2015-06-13 17:39] YamashitaRen commented on #830
Latest beta works as expected (except for some tesseract garbage output but I bet this has nothing to do with SE).
And kudos for your reactivity !

[2015-06-13 17:41] niksedk commented on #830
cool, thx for your fast responses too :)

[2015-06-13 18:21] XuTpuK commented on #719
Win7 x64 with additional Russian keyboard. When I try to switch on my language, program crashes. I don't know what a sh!t is that .NET when completely Unicode strings fail on using non-english letters. Just now tried again – same crash:

See the end of this message for details on invoking

just-in-time (JIT) debugging instead of this dialog box.

************** Exception Text **************

Syste

[2015-06-13 18:38] niksedk commented on #719
Can you test this beta: http://www.nikse.dk/SubtitleEdit.zip (portable version)
(I've tried to just ignore the error...)

[2015-06-13 19:44] XuTpuK commented on #719
Sorry, Nik, same crash. May be you caught at wrong place? Usually I write trap at class Program in Main function:

Application.ThreadException += Application_ThreadException;

Application.SetUnhandledExceptionMode(UnhandledExceptionMode.CatchException);

AppDomain.CurrentDomain.UnhandledException += CurrentDomain_UnhandledException;

From: Nikolaj Olsson [mailto:notifications@github.com]
Sent: Sat

[2015-06-13 20:18] niksedk commented on #719
thx for your input - I've tried that here: http://www.nikse.dk/SubtitleEdit.zip (portable version)
Any better?
Perhaps you can try the source code too?

[2015-06-14 10:23] niksedk commented on #652
This was fixed in commit 3404955423930d84b687925b2bca42ca085b5c33

[2015-06-14 10:23] #652 closed

[2015-06-14 19:28] XuTpuK commented on #719
Nik, it works fine! Thank you J

Yep, I can code myself, but it takes a lot of time to inspect unknown project and do stuff _properly_.

Good luck!

From: Nikolaj Olsson [mailto:notifications@github.com]
Sent: Saturday, June 13, 2015 10:19 PM
To: SubtitleEdit/subtitleedit
Cc: XuTpuK
Subject: Re: [subtitleedit] "culture is not supported" error (#719)

thx for your input - I've tried that here: http

[2015-06-18 05:55] #719 closed

[2015-06-18 18:44] niksedk commented on #609
Could you test latest beta version: http://www.nikse.dk/SubtitleEdit.zip (portable version)

[2015-06-19 17:52] ivandrofly opened #882 "Unexpected results: Remove Text For Hearing Impaired"
Ups Edited: `Foobar <font color="#808080">(CHAINS RATTLING)</font> Foobar` @niksedk

[2015-06-19 18:07] niksedk commented on #882
What is the result and what did you expect?

[2015-06-19 18:12] ivandrofly commented on #882
Keeps font tag in text

[2015-06-19 18:36] ivandrofly commented on #882
Another eg: `♪ <font color="#000000">(LIGHT SWITCH CLICKS)</font>`

[2015-06-19 20:26] #755 closed

[2015-06-19 20:29] niksedk commented on #755
Could you test the fix?
If you don't want to compile from source try this: http://www.nikse.dk/SubtitleEdit.zip (portable beta)

[2015-06-20 03:54] ivandrofly opened #889 "New Feature"
What do you think about added a feature which will allow users to choose to display only selected line in Subtitle Edit main list view, I think it would be useful when tracking error in subtitle text

[2015-06-20 08:22] #727 closed

[2015-06-20 12:48] #882 closed

[2015-06-22 14:50] xZise opened #913 "Canceling the OCR screen results in a crash"
I was checking subtitles using the OCR functionality (without actually parsing them) so after I've checked them I clicked "cancel" and an error occurred in version 3.4.6:

[code]

(Props to Microsoft to translate stacktraces -.- )

I had a similar error in 3.3.1 and after acknowledging that message it crashed completely but it appears 3.4.6 doesn't crash immediately.

I'm using it on Windows 7 x64

[2015-06-22 15:00] oallouch commented on #755
Hi,
My player is my Internet Box (from France) but they cut the fiber by mistake. I'll only be able to test it in a week (I hope). All I can say for now, using VLC on Windows 10, is that the export doesn't seem to use the font size and line height (at least for br tags).

[2015-06-23 22:15] Draxler opened #921 "How to set another audio (lang.) ?"
Win7/Latest Subtitleedit 3.4.6 Build 544
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

Is it posible to set another audio (lang) in video when played in Subtitleedit app?
It happens i get this video from Russian site and they set their language (Russian) as primary language and English (Original audio) as secundary language in this video file. Now, when i open this video file wit

[2015-06-24 06:41] niksedk commented on #921
Hi, try switching to VLC video player (be sure to install VLC 64-bit if you running a 64-bit os) which should give the ability to switch language in the "Video" menu.

[2015-06-24 07:46] xylographe commented on #921
With LAV-filters (K-Lite Codec Pack) you can change subtitle/audio/video streams in the system tray, by right-clicking the white LAV icon. You can set preferred languages for subtitles and audio, to make LAV choose the ‘correct’ streams automatically.

[2015-06-24 18:52] #609 closed

[2015-06-25 03:51] LeonCheung opened #929 "Improvement Appreciated: Select current subtitle while playing"
The fact is, currently the waveform view didn't sync with the line that are chosen from List View. Toggling "Select current subtitle while playing" only works while playing, but we may just want to have a quick glance on the static waveform window. I mean sometimes when we are jumping among lines, we don't want to having to play it in order to see that wave clip in waveform window.

I wonder if SE

[2015-06-25 04:25] Draxler commented on #921
Thank you guys. I realy appreciated the suggestions.

[2015-06-25 05:54] #921 closed

[2015-06-25 06:01] LeonCheung commented on #929
P.S.: I know we can double click on a single line to make it sync, but is that possible for operations like Shift Enter?

[2015-06-26 14:07] stingra commented on #296
Hi I have a similar problem using EBU .stl files and exporting them just to change the language code, when you save the file it appears to strip or modify the [Start box][Start box] Control characters for teletext subtitles in the file. This occurs in all versions i tested from 3.4.4 ->3.4.6. Would you like me to create a new issue for this??

[2015-06-27 00:53] vsemozhetbyt opened #943 "Feature request: list view tooltips."
Could you add tooltips for cells in the list view, please? In the undock mode other windows hide parts of the cells so tooltips will be handy for quick context look-up (see the arrows on the image). May be an option will be needed for this feature.

![se_cell_tooltips](https://cloud.githubusercontent.com/assets/10393198/8389763/f99ca7f8-1c7f-11e5-9f43-c30a2a7ce0c5.png)

[2015-07-01 05:26] #526 closed

[2015-07-01 17:25] niksedk commented on #763
I need a sample for in order to look more at this...

[2015-07-02 05:01] niksedk opened #970 "Plugins can no longer be updated - are in use..."
Somehow the plugin files are now in use - probably the way the files are loaded has changed

[2015-07-02 15:23] niksedk commented on #970
Fixed here: 53083e09292ac6523b3f105d7509c116eaef0468

[2015-07-02 15:23] #970 closed

[2015-07-02 20:41] niksedk opened #976 "Release 3.4.7"
3.4.6 is very stable but there are enough new fixes for an update :)
So I'll try to get 3.4.7 out in 1-2 weeks, but do let me know if you think something needs to be in next version - also please do run a few tests in "Fix common errors" etc.!

TODO:
- [x] update change log
- [x] Fix a few minor bugs
- [x] General testing

[2015-07-03 06:28] LeonCheung commented on #976
Hi, each time when importing plain text, the wave / video gone. Can we fix or make this behavior non-default?

[2015-07-06 13:14] stingra opened #987 "EBU .stl files when exporting them strips the [Start box][Start box] Control characters"
Hi I have a problem using EBU 3264 compliant closed L1,L2 Teletext ".STL" files.
Modifying the .STL file in "SubtitleEdit" and saving it strips the control characters for teletext subtitles, eg. [Start box][Start box].
This occurs in all versions that I have tested from 3.4.4 ->3.5.4.
For a complete list of control characters please refer to Appendix 2 of the EBU-3264 STL specification available f

[2015-07-07 20:43] aaaxx commented on #976
In **Fix common errors...**, the function **Fix common OCR errors (using OCR replace list)** marks proper curly apostrophes (’) as errors and replaces them with straight apostrophes (').

Orange numbers in chars/sec and line length indicators are really hard to read. Maybe try some darker orange hue.

[2015-07-08 17:50] diomed commented on #675
@niksedk

How about this one:
![Imgur](http://i.imgur.com/YNV7Onm.png)

https://app.box.com/s/5k9y6swf9lqoknp9brmpuffosftr7dhd

[2015-07-11 06:55] diomed commented on #913
@ivandrofly  is this being fixed?

[2015-07-11 07:48] niksedk commented on #913
It's a codec related crash. I cannot re-create it. Can you @diomed ?

[2015-07-11 07:56] diomed commented on #913
ah, no.. I can't. sorry.

[2015-07-12 21:52] aaaxx commented on #976
I did some some poking around the repository (I'm not a programmer) and I think this is to blame for the curly quotes thing:

src/Logic/Dictionaries/OcrFixReplaceList.cs
[code]
Deleting those two lines should fix the problem.

[2015-07-13 00:06] ivandrofly commented on #976
That feature will be available only if you enable the `hardcoded` rule

[2015-07-13 08:45] aaaxx commented on #976
Thanks, didn't know that. I'd suggest it to be moved to **Tools → Fix common errors...**.

However, that `if` condition should still be removed. And this one along with it, because there's no point in dumbing down proper typographic characters:
[code]
Also, assuming that `word.Contains` means that the character is immediately surrounded by letters, the replacement character in this next statement

[2015-07-13 10:43] Betsy25 commented on #675
I like it.

[2015-07-13 19:23] niksedk commented on #976
Tesseract has problems with quotes... so the quick fix was just replacing different quotes with the straight one used in ASCII encoding and the same goes for mdash. Perhaps we should do it more correctly - like "don't -> don’t " etc., but lets wait for next update as it is a larger thing to fix... also it looks like Tesseract will (maybe) finally be out in a new version: https://groups.google.com/

[2015-07-13 21:43] ivandrofly commented on #976
Its used to fix recursive dash like: `-----`

[2015-07-14 02:41] aaaxx commented on #976
OK then, but you should also add acute accent (´) to those replacements, I've seen it happen quite often.

But this one is still very troublesome because when you have a real occurrence of em dash and replace it, you get very confusing results, like that example in my last post. Did you have any real cases where a hyphen was incorrectly recognised as em dash, because I can't remember ever seeing t

[2015-07-14 06:03] niksedk commented on #976
@aaaxx: Please create a new issue for this as it's a larger issue - not like changing a font color ;)

[2015-07-14 07:21] aaaxx opened #1012 "Fix common OCR errors - hardcoded rules - continued from #976"
Continued from issue https://github.com/SubtitleEdit/subtitleedit/issues/976

**aaaxx:**

**aaaxx:**

**ivandrofly:**

**aaaxx:**

**niksedk:**

**ivandrofly:**

**aaaxx:**

**niksedk:**

[2015-07-14 07:22] aaaxx commented on #976
Moved to https://github.com/SubtitleEdit/subtitleedit/issues/1012

[2015-07-16 11:56] hhgyu opened #1021 "bug??"
hhgyu/subtitleedit@e1e1169965fb751ad5cc03c5b72ea8101d9129c2

http://www.filedropper.com/1_20

smi open (program freezing)

 ------------------------

hhgyu/subtitleedit@c487a8b906abc327ee7a47ca18fe377515c641e3

http://www.filedropper.com/showdownload.php/2_52

[code]
smi to ass -> style(color) do not apply to the conversion.

error
[code]

success
[code]

 ------------------------

hhgyu/subtitlee

[2015-07-17 04:59] niksedk commented on #976
@LeonCheung: importing plain text should not reset the wave / video - could you verify in latest source (or here: http://www.nikse.dk/SubtitleEdit.zip ) ?

@aaaxx: Could you check the contract for orange / compare - is it better?

Also, I started testing the OCR yesterday but ran into several bugs, so the release will be pushed back somewhat.

[2015-07-17 05:16] Vasilich commented on #976
while you testing OCR - any chance to get https://github.com/SubtitleEdit/subtitleedit/issues/22 fixed?

[2015-07-17 05:56] LeonCheung commented on #976
@niksedk Indeed, it was solved in 3.4.7. Thanks!

BTW, I would highly suggest to also keep the video / wave while dragging subtitle files into SE, because currently when we do so, the video and wave are all gone, too. I know we got the "Open (keep video)" menu, but adding file by dragging is definitely far more convenient than browsing in many cases. I mean, If people wanna start a completely proj

[2015-07-17 06:41] aaaxx commented on #976
Orange is much better now. Thanks.

[2015-07-17 11:12] LeonCheung commented on #238
Hi, nikse, I think this issue is still existing.  :( True that it appears okay in the first few minutes after starting a project. But things becomes more and more obvious if you continue the subtitle work for 5 or more minutes.

However, when I restart SE and continue the auto-remembered work session, all is fine again. but not okay after 5+ minutes working...

Anyrhing I can do to help targeting

[2015-07-17 11:15] LeonCheung commented on #976
Btw, issue #238 is still existing I'm afraid, I've commented there, would you please check it out? Anything that I can do to help targeting it, just let me know. Thanks a lot!

[2015-07-18 16:32] LeonCheung commented on #238
@niksedk After a whole afternoon testing, I thnk I finally catch the fishy thing. It seems something related with the Syntax Coloring options, especially the "Color time code overlap":

![color_time_code_overlap](https://cloud.githubusercontent.com/assets/494788/8762490/d11b561a-2dac-11e5-9c34-abc7815525ed.jpg)

Here is the test sub if needed: http://www.pasteall.org/59666/text

[2015-07-18 16:40] LeonCheung commented on #238
[Here](http://youtu.be/Ad7EmjfxJVY) is a short video demo. Hopefully it shows everything.  :)

[2015-07-18 16:42] LeonCheung commented on #976
@niksedk I think the issue above seems to be related with syntax coloring feature. Please see new comments at #238 Thanks!

[2015-07-21 12:45] niksedk commented on #81
Sorry, I don't have Mac... so if you've a mac lying around that you don't use do email it to me :)

[2015-07-22 06:44] diomed commented on #675
@niksedk , please.

[2015-07-22 06:54] niksedk commented on #1021
I don't think the filedropper links are working... I could not find any smi files - could you supply new links?

[2015-07-22 07:50] niksedk commented on #675
Much better than the previous one... still the "SE" text could be a little bigger and the bottom corners looks weird.

[2015-07-22 08:03] #976 closed

[2015-07-22 08:13] diomed commented on #675
corners look weird only on png, not on small icon. you can't notice them on smaller sizes on screen.

I doubt anyone uses extra large icon size. on large size it looks okay.

[2015-07-23 14:14] hhgyu commented on #1021
http://www.filedropper.com/smi

2.smi -> http://www.filedropper.com/1_20

1.smi -> http://www.filedropper.com/showdownload.php/2_52

[2015-07-23 14:17] hhgyu commented on #1021
https://drive.google.com/file/d/0B7BB5bK9QT0Wdk50TFB0WThMZms/view?usp=sharing

http://www.filedropper.com/1_20 -> 2.smi

http://www.filedropper.com/showdownload.php/2_52 -> 1.smi

[2015-07-24 21:30] niksedk commented on #1021
Thx, got the files from google drive...

The freezing should be fixed in this commit: 0510a25d038575b51cce37efc9864df7d2efb451
(could actually happen with any large data inside smi files)

[2015-07-26 19:13] ivandrofly opened #1060 "Text Length"
Nikse should we include `\r\n` when counting line length? /cc @niksedk

P.S: https://github.com/SubtitleEdit/subtitleedit/blob/master/src/Controls/SubtitleListView.cs#L579

[2015-07-28 09:58] Buster14 opened #1067 ""Live" compare subtitle window"
Please make the compare subtitle window editable.
Resyncing 2 subs is a very time consuming process because we have to compare > find the line > close compare window> edit the line > and compare again.
It's a very tedious process because sometimes we must do it hundreds of times for 1 subtitle.
Ideally the compare window should also editable and everytime a change is commited, the compare window w

[2015-07-28 15:51] yportier opened #1069 "Feature Request: Fine tune supervision for Multi Replace batch processing"
It would be nice to be able to process a **batch of subtitles** within the Multi Replace tool.
I'd like also to be able to mark which replacements need **supervision** and be able to toggle between **All** and **Need Supervision** in the _Lines found_ section so it's easier to catch the false positives.
We could also have a **Apply and load next file** and eventually an **Apply to all** to either

[2015-07-28 16:39] niksedk commented on #1069
Via "Tools" -> "Batch convert" you can use "Multiple replace" on several files.

[2015-07-29 00:11] #1021 closed

[2015-07-29 09:01] yportier commented on #1069
Great thanks, my bad for not checking this one...

However, I'd like to hold on to the second part of my request, i.e. the ability to enable supervision for some selected replacements (some need context that are not easily resolved by RegEx)

[2015-07-29 11:41] Sopor- opened #1075 "Google translate - 503 service unavailable"
When i try to use Google translate i only get error 503 service unavailable. I'm running Subtitle Edit 3.4.7 but it was the same in 3.4.6. Is this a temporary issue or have Google made any changes that make this fail?

[2015-07-29 13:36] aaaxx commented on #1060
I don't really see good reason for that; it would just make things counter-intuitive (e.g. having to set max. length to desired + 1 when working to a specific length requirement).

[2015-07-29 13:56] #1075 closed

[2015-07-29 13:58] niksedk commented on #1075
You can also test a beta here: http://www.nikse.dk/SubtitleEdit.zip (no installer)

[2015-07-29 14:49] Sopor- commented on #1075
Working perfect, thanks!

[2015-07-30 12:31] niksedk opened #1084 "Release 3.4.8"
Due to some (about 4) regressions from 3.4.7 + GT requires https I guess another release is due :)

TODO:
- [x] Testing of stuff where Paragraph.ID is used
- [x] Fix any bugs
- [x] General testing

So it would be great if ppl would run a bit with latest beta... either compile from GitHub or just http://www.nikse.dk/SubtitleEdit.zip (updated frequently)

[2015-07-30 14:20] aaaxx commented on #1084
I'll try to improve differentiation of Croatian and Serbian with a new list based on word frequency. I just need to know if this code looks for whole words only or also parts of words:

[code]

[2015-07-30 14:55] niksedk commented on #1084
@aaaxx: Cool - it's whole words. Generally the more words the better - and it's best if the words are not common in other languages.

[2015-07-30 15:45] aaaxx commented on #1084
Do you mean just in `croatianCount`/`serbianCount` or in the outer `count = GetCount` as well?

[2015-07-30 15:51] niksedk commented on #1084
the outer as well.

[2015-07-31 15:28] aaaxx commented on #1084
What's the difference between that first section:
[code]
and the one after it:
[code]
Are they used for detection in different parts of Subtitle Edit? Why do they use different words for same language

[2015-08-01 16:10] niksedk commented on #1084
@aaaxx: Good question... they should use same words. A start is made here: ca17ec6e8ac545e3396d9c8ca5792b6f1bdedd4a

Also, unit tests would be nice here.

[2015-08-01 17:27] aaaxx commented on #1084
But why do you need both `string`s? I mean, what does the second one do differently and where is it used in SE?

[2015-08-01 17:31] niksedk commented on #1084
?

Also, this should probably be a separate issue...

[2015-08-01 18:15] aaaxx commented on #1084
I'm asking because I'm trying to to figure out how exactly to handle Croatian & Serbian words. But I'll send you a preliminary pull request and we can discuss it there.

[2015-08-02 15:43] niksedk commented on #1084
OK, I'll update the version number + test installer - and hopefully release in a few hours :)

[2015-08-02 16:33] niksedk commented on #1084
Done... hopefully we have another very stable version out now :)

[2015-08-02 16:33] #1084 closed

[2015-08-05 03:40] LeonCheung opened #1108 "Alt Drag Delay in Waveform (still occur in 3.4.8?)"
Regarding to my last comments in #238, which has been closed, I think it would be more appropriate to open a new issue since it is still happening, but the cause has been targeted fortunately (I hope).

NOTE:
1. This issue only seems to be more obvious **after working for some minutes**.
2. I believe I got a very high performance PC (24 thread, 32GB RAM, dual GTX680), so I think there should be no

[2015-08-05 20:11] niksedk commented on #1108
I still cannot re-create this on any of my PCs!
Could you send me your complete settings.xml file?

Can anybody else re-create this?

[2015-08-05 20:25] InCogNiTo124 opened #1109 "Feature proposal"
I would like to propose a feature where a simple sound would be played when chat message has been recieved during network translation. Thank you.

[2015-08-06 04:30] LeonCheung commented on #1108
@niksedk [Here](https://www.youtube.com/watch?v=fF62gAHellY) is another video (a bit long, key part is from 15:00), to show from initial setting to working on it and then targeting it.

BTW,  at 0:15, I cannot customize shortcut for Save operator other than the default setting. Is this a finshy bug?

[2015-08-06 04:34] LeonCheung commented on #1108
[Here](https://drive.google.com/file/d/0B1ojv5B6Lb-3dUp6dkJSLVpzXzQ/view?usp=sharing) is the current xml file.

[2015-08-06 05:38] LeonCheung opened #1112 ""Insert After" shortcut problem"
When cursor is not focusing on List view or textbox, the shortcut for **Insert After** doesn't work, regardless the default "Alt + Insert", or a customized one. Quite strange is the "Insert Before" works fine in the same case.

Thanks for checking.

[2015-08-06 07:22] LeonCheung commented on #1108
P.S. I should stress that the problem will disappear after restarting SE, but it will show up again after working for a while.

Now I wonder if there is something to do with the cache or something iterated? Or, it probably about my workflow? (You see how I set S and D shortcut, which are the most commonly way I used to work on subs)

[2015-08-07 17:33] niksedk opened #1119 "Audio extraction via VLC - choosing audio track does not work"
This does not work with VLC 2.2.x...

https://forum.videolan.org/viewtopic.php?f=2&t=127773

Any other way to do this or should we disable this feature from VLC wave extraction?

[2015-08-07 20:25] niksedk commented on #1109
He, like this? beta: http://www.nikse.dk/SubtitleEdit.zip
( go to options -> Settngs -> Network: set audio file to perhaps this wav file: https://docs.google.com/file/d/0B14BXHai2DrEU3lYUnp6cXBOcFE/edit )

[2015-08-09 01:42] LeonCheung commented on #1119
The new optional track selecion option seems really nice, I just wonder if it is also possible to spit extraction L / R channel only in a single track, which was mentioned at #11.  :)

[2015-08-09 10:49] ivandrofly opened #1129 "Build Issue"
When I try to build I get this error:
`Severity	Code	Description	Project	File	Line
Error	CS1061	'LanguageStructure.Settings' does not contain a definition for 'Proxy' and no extension method 'Proxy' accepting a first argument of type 'LanguageStructure.Settings' could be found (are you missing a using directive or an assembly reference?)	SubtitleEdit	C:\Users\ivandrofly\Documents\Repos\subtitleedi

[2015-08-10 14:51] #1129 closed

[2015-08-10 19:38] niksedk commented on #1109
@InCogNiTo124: Could you verify that it works?

[2015-08-12 09:39] InCogNiTo124 commented on #1109
It works. Thank you.

[2015-08-12 09:39] #1109 closed

[2015-08-13 16:59] niksedk commented on #1109
np, thx for testing :)

[2015-08-14 14:17] baselsaliba opened #1147 "Selecting Options from menu then settings gives an error, SubtitleEdit 3.4.8 Build 1"
![options then settings in menu gives error message](https://cloud.githubusercontent.com/assets/13798487/9275755/287633d4-42a8-11e5-9951-7374db4c7746.png)

[2015-08-14 21:33] xylographe commented on #1147
What is the absolute path of the VLC executable?

[2015-08-15 07:25] baselsaliba commented on #1147
Hi.

This is the path I have:

"C:\Program Files (x86)\VideoLAN\VLC\vlc.exe"

Basel Saliba

Email:                    <mailto:baselsaliba@gmail.com> baselsaliba@gmail.com

Mobile                  +962 79 500 0124

Skype                    basel.saliba

From: xylographe [mailto:notifications@github.com]
Sent: 15 August, 2015 12:34 AM
To: SubtitleEdit/subtitleedit
Cc: baselsaliba
Subject: Re: [subti

[2015-08-16 07:17] niksedk commented on #1147
@baselsaliba: could you test latest beta: http://www.nikse.dk/SubtitleEdit.zip (no installer - or compile from latest github source)?

[2015-08-16 11:05] baselsaliba commented on #1147
Hi,

The problem I reported no longer appears.

Thanks,

Basel Saliba

From: Nikolaj Olsson [mailto:notifications@github.com]
Sent: 16 August, 2015 10:18 AM
To: SubtitleEdit/subtitleedit
Cc: baselsaliba
Subject: Re: [subtitleedit] Selecting Options from menu then settings gives an error, SubtitleEdit 3.4.8 Build 1 (#1147)

@baselsaliba <https://github.com/baselsaliba> : could you test latest beta:

[2015-08-16 11:54] niksedk commented on #303
@Global90: Could you test this version: http://www.nikse.dk/SubtitleEdit.zip (no installer, beta) ?

[2015-08-16 14:22] Global90 commented on #303
i tested this version. but i dont see Progress(percent) in the SE.

i write in lines. and open orginal subtitle(translation mode) but any Progress.

Thankyou

[2015-08-16 14:44] niksedk commented on #303
it's in the lower left corner - statusbar...
![untitled]http://www.nikse.dk/Test.png)

[2015-08-16 14:44] LeonCheung opened #1153 "Cannot customize shortcut for some items"
For example, I failed to set shortcut for "Save" from **Ctrl N** to **Q**. It also it report some error message (see below). However, it does work in 3.4.6.

![se](https://cloud.githubusercontent.com/assets/494788/9293722/41028012-4468-11e5-8f57-e7b076b26fb5.jpg)

[2015-08-16 14:46] niksedk commented on #303
But if you use something like GT to get a start it won't work...

[2015-08-16 14:53] LeonCheung opened #1154 "Feature request: Move text only"
Highly appreciated if we can support text swapping between two selected lines, because sometimes we want to reorder text between lines. Currently it seems we have to sort of "copy > jump > paste > copy another > jump again > paste another", or delete the current line and insert a new one, any retype. That's really quite a lot clicks! :sweat:

Thank you!

[2015-08-16 15:02] niksedk commented on #1154
cool idea :)

[2015-08-16 15:53] niksedk commented on #1153
It's possible... for short cuts with menu items at least (you cannot even set a menu item to a single letter in Visual Studio)

[2015-08-16 16:02] niksedk commented on #1153
It works for shortcuts with no UI menu items, so I guess a validation for shortcuts with menu items is missing

[2015-08-16 16:07] LeonCheung commented on #1153
Hmm, strangely that it works before 3.4.7

[2015-08-16 16:40] Global90 commented on #303
MR. Nikolaj i dont have GT

My PC:
Win7 x86
.Net 4.5

Step1: open SRT file (1700 Lines)
Step2: open orginal Subtitle (this File)
Step3: remove Lines to 10 Line
Step4: ReWrite Line Orginal Text
Step5: All Row (Column Text) to empty
Step6: Write in Column Text

![untitled](https://cloud.githubusercontent.com/assets/8215910/9294195/1992c166-445b-11e5-9dee-96a9f5592e9e.jpg)

![1](https://cloud.githubu

[2015-08-16 16:47] niksedk commented on #1153
It does not... at least on my computer.

[2015-08-16 16:49] niksedk commented on #303
Did you use the beta I linked to?
Included the Settings.xml? (ShowProgress must be true)

[2015-08-17 01:43] LeonCheung commented on #1153
I swear it did work!! Because I use it for quite long time. But I don't know why it didn't work anymore since last night.... That is the most strange I've ever met.... Anyway, luckily I can set it to **Save All**.  So let it be. :)

[2015-08-17 12:26] Global90 commented on #303
i download http://www.nikse.dk/SubtitleEdit.zip (3.4.8 build 107)

and add <ShowProgress>True</ShowProgress> in Settings.xml in tag <General> Because ShowProgress not found in Settings.xml.

again dont show Progress

[2015-08-17 17:21] niksedk commented on #303
This should be really easy:
1) Download http://www.nikse.dk/SubtitleEdit.zip (3.4.8 build 110 now)
Unpack it and run SubtitleEdit.exe (the folder already includes a Settings.xml)

2) open an existing subtitle.... click Tools -> Make new empty translation for current subtitle

[2015-08-17 19:06] Global90 commented on #303
Percent Is Very Good Work in This Mode. Thankyou

A few tips:
1. after translate line 10  , Percent go Hide. Why?
2. Please Percent Progress Always show in Statusbar in any Modes.
3. Please Add New Mode: calculate the percent of the translated files in the empty file with Video (Get Video Time and End of Line for calculate Percent of the Translated)

![1](https://cloud.githubusercontent.com/assets

[2015-08-18 01:51] ivandrofly opened #1159 "Uninstallation"
When uninstalling Subtitle Edit even after accepting to delete all the file present in **"%APPDATA%\Subtitle Edit\"** **Plugins** folder won't be delete.

I know it's okay to keep the plugin files if you plan to re-install Subtitle Edit

[2015-08-18 13:28] niksedk commented on #1147
Fixed by xylographe :)

[2015-08-18 13:28] #1147 closed

[2015-08-18 22:55] xylographe commented on #1147
just for the record: commit bf4c9cbf845999a405e88e33f20d52d6c3108a5b :wink:

[2015-08-19 05:07] #1159 closed

[2015-08-19 15:41] ivandrofly commented on #623
@Orvid you can just replace `(x86)` from Program Files (x86) path and everything should be :+1: , by doing  your suggestion we will have to compile two different setup which isn't good idea.

[2015-08-19 17:02] xylographe commented on #623
It should be quite simple, as there is only one program, but, unfortunately, INNO won't do this.

[2015-08-19 21:50] ivandrofly commented on #623
:+1: @xylographe

[2015-08-20 17:28] #506 closed

[2015-08-20 17:32] #889 closed

[2015-08-21 14:52] ivandrofly commented on #696
:+1:

[2015-08-22 03:36] aaaxx commented on #696
How about making the feature smart and unbreaking only when the the resulting single line would fall within the length that's set in "Options > General > Unbreak subtitles shorter than" and otherwise just merge normally, one subtitle per line.

That would be better than unbreaking *all* merged lines and then later using "Auto br" for breaking too-long ones, because separate subtitles tend to be br

[2015-08-22 03:47] ivandrofly opened #1174 "New feature: Count find"
@niksedk  What do you thing?

![Find Dialogue](http://i.imgur.com/VPohleF.png)

[2015-08-22 03:48] nikse commented on #1174
ahhhhhhhhhhhhhhhhhhh you all need to stop @'ing me! for crying out loud

[2015-08-22 03:49] ivandrofly commented on #1174
Ups :confused: SORRY

[2015-08-22 04:43] ivandrofly opened #1175 "Feature: Remove text from Hearing Impaired"
Add Context Menu: `Select all`, `Invert selection`, `Select none`

[2015-08-22 11:25] LeonCheung commented on #696
Yeah, that sounds reasonable.

[2015-08-22 18:06] ivandrofly opened #1176 "Drop multiple subtitle files in main should open join dialog"
Allow loading split subtitles directly to main listview

[2015-08-22 18:57] aaaxx commented on #1174
Yeah, this would be great. Maybe also in Replace window.

[2015-08-22 19:17] aaaxx commented on #696
Could you give some examples (no offence, I'm just trying to figure out specific use cases)?

[2015-08-22 19:20] ivandrofly commented on #1174
yeah it's :smile: @aaaxx

[2015-08-22 21:22] ivandrofly commented on #1174
https://www.dropbox.com/s/erakwi0m2dk529a/SubtitleEdit.exe?dl=0

[2015-08-23 04:48] LeonCheung commented on #696
Sure. Take one example:

You know, sometimes we need teamwork to working on subtitles. I mean, one guy does the transcription, another guy does the timing work, while a third guy does the reviewing work, etc. But unfortuanately, the transcription guy did a very good transcription work, but poor line breakings. Now, the second guy import the plain text by checking "one line is one subtitle" option.

[2015-08-23 06:21] niksedk commented on #1176
Could you explain a bit more?

[2015-08-23 06:24] niksedk commented on #1174
Looks good :)

[2015-08-23 06:47] LeonCheung commented on #1176
I assume he means a faster way than using right-click menu **"Insert subtitle after this line"** for each split subtitle one by one?

[2015-08-23 08:03] ivandrofly commented on #1176
:+1: @LeonCheung, @niksedk Same thing as `Join subtitle...` doesn't, instead of having it in a separated form we could have use `Join subtitle` is class as helper

[2015-08-23 08:26] niksedk commented on #1176
Hm, I still don't get it... ;)

[2015-08-23 08:38] LeonCheung commented on #1176
Someting like this?
![insert_after](https://cloud.githubusercontent.com/assets/494788/9427530/4672340a-49b5-11e5-8ff5-41f08562f0fb.jpg)

[2015-08-23 09:06] ivandrofly commented on #1176
o.O, @LeonCheung, not dropping to `Join subtitle` form but to `Main` FORM instead

[2015-08-23 09:30] LeonCheung commented on #1176
I know what you mean. I'm not sure how possible to define the mouse cursor position as where to insert a sub file, but it sounds cool.

I know there are softwares that support drag-to-append other than drag-to-open by holding down some combo key, e.g. by dragging while holding **Shift** or something.

[2015-08-23 10:09] xylographe commented on #696
What would you expect if one of those lines (or perhaps even both)  contains a line break?

For example:

line(n)
**I don't know**

line(n+1)
**if you agree`<br />`with me on this.**

[2015-08-23 10:30] LeonCheung commented on #696
I would respect this one. Because the break lives for a reason (right or wrong). If it is a right one, then why not keep it? If it is a wrong one, then Merge should not be the one to blame. It's not his job actually——His job is simply merge two lines **with or without THAT break**, not THIS one.  :)

However, since SE currently forces a single subtitle paragrash with no more than 2 lines (unless e

[2015-08-23 23:55] ivandrofly opened #1184 "Xml Content Translator"
@niksedk Isn't better setup new repository for http://www.nikse.dk/XmlContentTranslator here in GitHub?

I have been working in a patch so...

[2015-08-24 00:11] aaaxx opened #1185 ""Fix alone lowercase 'i' to 'I'" in "Fix common errors" for all languages"
Considering there are some language-specific options in "Fix common errors", like "Fix Danish letter 'i'" and "Fix Spanish inverted question and exclamation marks", how come that "Fix alone lowercase 'i' to 'I' (English)" is present for all languages when even its name says it's only used in English and there's also a pop-up window notifying you it's ticked when you click "Next >" if the subtitle

[2015-08-24 00:16] ivandrofly commented on #1185
:+1: @niksedk  I think we should consider this it's quite annoying actually

[2015-08-24 04:06] ivandrofly commented on #1185
[DOWNLOAD TEXT](https://www.dropbox.com/s/ozhh7r8urcwu6ap/SubtitleEdit.exe?dl=0)

[2015-08-24 16:33] aaaxx commented on #1185
It's still the same. You sure you uploaded the right .exe?

[2015-08-24 16:48] ivandrofly commented on #1185
ah, wrong `.exe` I switch branch & build ;) just a sec

[2015-08-24 17:01] ivandrofly commented on #1185
@aaaxx link should be fixed now ;)

[2015-08-24 19:16] niksedk commented on #1184
Yeah, you're right - source code history too :)

[2015-08-24 19:21] aaaxx commented on #1185
It's still there for all languages but there's no pop-up warning when it's ticked.

[2015-08-24 19:27] ivandrofly commented on #1184
;)

[2015-08-24 19:38] niksedk commented on #1184
https://github.com/SubtitleEdit/XmlContentTranslator

[2015-08-24 19:38] #1184 closed

[2015-08-24 19:39] ivandrofly commented on #1185
Are you running portable or Installed version? Try downloading portable version extract it remove `SubtitleEdit.exe`, copy the file you downloaded from dropbox inside the portable folder and execute

[2015-08-24 20:28] aaaxx commented on #1185
Sorry, I wasn't looking closely enough and mistook it for "Fix uppercase 'i' inside lowercase words (OCR error)".

Seems to work OK. Appears only for "en".

[2015-08-24 20:36] ivandrofly commented on #1185
:wink:

[2015-08-25 16:57] aaaxx commented on #1185
Commit merged. Closing issue.

[2015-08-25 16:57] #1185 closed

[2015-08-25 18:01] niksedk opened #1192 "Move SE logic to DLL"
I would like to move the logic to a dll - it's a huge task to make it 100% free of Windows.Forms/Word/UI/WindowsStuff but it will give some nice advantages:
- Better separation of logic and UI stuff
- The possibility to use the dll from other apps (reverse plugin;)
- The possibility to make real cmd line version
- The possibility to make better Linux/Mac support

Perhaps it can be made in steps.

[2015-08-25 18:56] xylographe commented on #1192
Perhaps, on a separate branch? You would still have a stable **master** for releases.

The Logic part in master could remain frozen (except for real bug fixes) until you are ready to merge.

[2015-08-25 19:06] aaaxx opened #1193 "[ENHANCEMENT] Constant size in OCR image preview"
Is this doable? I know that it works the way it does because each bitmap is cropped tightly around the letters and is zoomed to fill the preview frame, but couldn't it be handled a bit more intelligently?

For example, first it finds the biggest (widest?) bitmap and calculates the zoom factor that makes it fill the frame, then it applies that factor to all bitmaps. And if the biggest bitmap is sma

[2015-08-25 21:50] ivandrofly commented on #1192
Nice improvement, btw I also agree with @xylographe you may want to do it in separated branch to avoid critical

[2015-08-25 23:20] marb99 opened #1194 "[BUG] text center aligned problem with <b><i> tags"
Hi...

On SE 3.4.8 the text is not center aligned with bold+italic tags when export to Blu-ray sup and idx/sub

example:
![capturar](https://cloud.githubusercontent.com/assets/7856897/9482148/ea5e908e-4b88-11e5-9f19-226bd3e4b8ba.PNG)

[2015-08-26 00:08] aaaxx commented on #1194
I did some testing and it seems to happen only when the tags are at the beginning of first line and end of last line. When each line is enclosed in tags it centres properly. Still, that *is* a bug.

And another bug that popped out. It seems that the text won't be rendered in bold, just italic, if the order of the tags is `<b><i>...</i></b>` (as you can see in the screenshot above) but will if it's

[2015-08-26 02:47] marb99 commented on #1194
@aaaxx, I confirm your test in rendered bug.

And thanks for the font suggestion, I will try Segoe UI, thanks :)

This is an old bug, I hope going to be fixed soon.

[2015-08-26 09:06] ivandrofly commented on #1175
![Remove Text for Hearing Impaired](http://i.imgur.com/8qyGMAR.png)

[2015-08-26 19:29] niksedk commented on #1192
Initial version 99%... But I have no wifi (only phone) and my computer don't have wireless 😢

[2015-08-26 21:09] niksedk commented on #1192
Internet again :)

Initial version committed... note that linking (including of dll files inside SubtitleEdit.exe) now only happens in the build.bat file (makes running from VS faster)

@ivandrofly: I saw that the installer script is failing... any ideas?

[2015-08-26 22:39] ivandrofly commented on #1192
Failing in `master` or....?

[2015-08-26 23:14] xylographe opened #1200 ""Fix common OCR errors" problem"
With this stripped down OCRFixReplaceList,
[code]
the FCE (only "Fix common OCR errors" enabled) produces following transformation:
`povrjeđen povrjeđen povrjeđen` ==> `povriiiijeđen povriiiijeđen povriiiijeđen`

Compared to:
[code]
which is the expected result.

Why is the single transformation rule in `<RegularExpressions>` applied four times instead of one?

[2015-08-27 00:33] ivandrofly commented on #1192
Hmm... let me :eyes: , Trying to fix `build.bat` for Visual Studio 2014

[2015-08-27 00:45] ivandrofly opened #1201 "Incorrect version"
Subtitle Edit is displaying `LibSE.dll` instead `SubtitleEdit.exe`

[2015-08-27 00:50] ivandrofly commented on #1201
I moved:
`` c#
public static string AssemblyVersion
        {
            get
            {
                return Assembly.GetExecutingAssembly().GetName().Version.ToString();
            }
        }

        public static string AssemblyDescription
        {
            get
            {
                var assy = Assembly.GetExecutingAssembly();
                var assyName = assy.GetName().Nam

[2015-08-27 01:45] xylographe commented on #1201
I think, you want `System.Reflection.Assembly.GetEntryAssembly()`.

[2015-08-27 01:50] ivandrofly commented on #1201
That is right, but we may want the SeLib.dll ver info aswell

[2015-08-27 13:22] #1175 closed

[2015-08-27 18:56] aaaxx commented on #1200
This is not why it's happening, but that search string should actually be `"(?<!i)jeđen"`.

[2015-08-27 20:49] niksedk commented on #1201
I think that libse.dll should follow the SubtitleEdit.exe version number...
@xylographe: thx for the hint - now used.
I've tried to make this easier here: https://github.com/SubtitleEdit/subtitleedit/commit/6e438005b05747f2656209318c7f4fa0c77ad323 (now you only have to change the version number if SubtitleEdit Property-Application window)

[2015-08-27 21:29] niksedk commented on #1201
Well, it actually just uses the Github release tag now :)

[2015-08-27 21:29] #1201 closed

[2015-08-27 21:30] ivandrofly commented on #1201
Nice :+1:

[2015-08-27 21:52] diomed commented on #1200
is there a solution if j is optional, so it would also include povređen?
`    <RegEx find="j?eđen" replaceWith="ijeđen" />`

[2015-08-27 22:05] aaaxx commented on #1200
I'd use specific replacements for that, because there are cases where you wouldn't want that ("određen" → "odrijeđen", off the top of my head).

[2015-08-27 22:18] diomed commented on #1200
sadly, you're right. this is why we can't have nice things. :unamused:

[2015-08-27 22:26] aaaxx commented on #1200
Come to think of it, even "(?<!i)jeđen" → "ijeđen" isn't completely safe. There's at least "ispovjeđen" that's spelt without an "i". Probably occurs very rarely, but still.

[2015-08-27 22:33] diomed commented on #1200
ok. we can limit that word also. but otherwise it's pretty safe. it's like a pattern with really few exemptions.
please join gitter SE chatroom. i sent u invite.

[2015-08-27 22:51] xylographe commented on #1200
Smth like,
[code]

[2015-08-27 23:15] aaaxx commented on #1200
That looks good. And sorry we hijacked your Issue.
There's also "ispripovjeđen", so:
[code]

@diomed, where am I supposed to receive that invite? I don't see anything here or over at gitter (but I've just connected it to my github account now, so that could be the problem).

[2015-08-27 23:45] xylographe commented on #1200
[code]

[2015-08-27 23:59] aaaxx commented on #1200
You're right, of course.

[2015-08-28 20:09] #1194 closed

[2015-08-28 20:10] niksedk commented on #1194
Thx for the info :)
Had not seen these cases... hopefully fixed now.

[2015-08-28 20:30] niksedk commented on #1192
I just tested libse on Xamarin on windows and it works :)
Can anyone run Xamarin on Linux or OSX? Perhaps @ivandrofly or @xylographe  ?

[2015-08-28 22:14] Betsy25 commented on #1192
When compiling the latest commit a0da9d1cabf105955ba3cff71ff63664b7d2fc79, VS Express 2013 errors out.

[2015-08-28 22:17] niksedk commented on #1192
@Betsy25: Could you try again? libse.dll was missing the "allow unsafe" (allow pointers) check, so that might be the problem...

[2015-08-28 22:25] Betsy25 commented on #1192
@niksedk Works fine now ! :+1:

[2015-08-28 22:35] niksedk commented on #1192
Cool :)

[2015-08-31 09:48] SirEllert opened #1211 "Unhandled exception when using Multiple Replace"
Hi, i get this error after trying to use multiple replace after upgrading to version 3.4.8 - is there a possible fix for this?

![subtitleeditprob](https://cloud.githubusercontent.com/assets/14052609/9576205/0dbe2f70-4fd6-11e5-80e4-df617d69689b.jpg)

[2015-08-31 09:58] ivandrofly commented on #1211
Hmm... let see you replace list

[2015-08-31 13:00] xylographe commented on #1211
Apparently, there is a literal `\u001F` (SYMBOL FOR UNIT SEPARATOR) in one or more *Find what* or *Replace with* strings. And, apparently, the .Net XmlWriter refuses to convert it to an XML entity.

If it is in a *Find what* string, you could replace it with **\u001F** (the regex engine will replace that sequence with the literal character), but in a *Replace with* (a replacement pattern) that doe

[2015-08-31 13:06] xylographe commented on #1211
Just found out that entity `&#31;` (XML encoded unit separator) is only valid in XML 1.1, not in XML 1.0.

[2015-08-31 14:08] SirEllert commented on #1211
I've attached pictures of the multiple replace list.

![subtitle1](https://cloud.githubusercontent.com/assets/14052609/9580534/6be8a85e-4ffa-11e5-988c-7ed68d17df84.jpg)
![subtitle2](https://cloud.githubusercontent.com/assets/14052609/9580535/6c0e9820-4ffa-11e5-990a-971c872a9dae.jpg)

I'm not really into the "programming" myself, so I appreciate your comments @xylographe, but seems to be out of my

[2015-08-31 17:13] xylographe commented on #1211
Unfortunately, the unit separator is an invisible control character.

Clearly, you entered it by accident (I don't know how—to reproduce, I had to use clipboard pasting).
To get rid of it, select every item in turn, select the *Find what* text input, use the cursor left/right key to move the text cursor from end to beginning (or from beginning to end), do the same with the *Replace with* text inpu

[2015-08-31 17:18] xylographe commented on #1211
@ivandrofly To reproduce:
[code]
Paste text from clipboard in SE (the unit separator is between **a** and **b**).

[2015-08-31 18:01] niksedk commented on #1211
I gues would could do either:
1) Some cleaner method for ascii codes from 0-31
2) Some validation for ascii codes from 0-31

C# even have a "Char.IsControl" function.

[2015-08-31 18:36] niksedk commented on #1211
I just got a bad xml subtitle and this control character fix also fixes this bad subtitle :)
White spaces should probably not be removed though from raw xml files though.

Any better ideas?

[2015-08-31 19:05] xylographe commented on #1211
IMO, this will do just fine.
I can't see a good reason, why someone would want control chars in a find&replace rule.

[2015-08-31 19:18] xylographe commented on #1211
To clarify: intentional use of CC is still possible with RE pattern, e.g., `find="\u009"`, `replace=" "`.
Safe, because no literal CC involved

[2015-08-31 19:48] #1211 closed

[2015-08-31 23:33] xylographe commented on #1192
Well… that went very fast, and amazingly smooth!
Congrats, Nikolaj. :)

[2015-09-02 21:21] ivandrofly opened #1225 "[UI] File menu strip"
Hey @niksedk I think we should move all the **Import subtitle** option in **File** menu strip into **Import** context menu just like **Export**

what do you think?

![menu](https://i.imgur.com/8wZ5sq4.png)

[2015-09-03 06:09] niksedk commented on #1225
Yes, good idea :)

[2015-09-05 10:13] ivandrofly opened #1243 "Main.cs"
What is the point of running **ShowSubtitleTimerTick** in a infinite loop? :confused:

[code]

[2015-09-06 11:30] ivandrofly opened #1249 "[UI] - Numering form"
What do you think? /cc @niksedk, @xylographe
![Image](https://i.imgur.com/w4P5EYc.png)

[2015-09-06 12:27] niksedk commented on #1249
The padding is determined by each format...

[2015-09-06 12:27] #1249 closed

[2015-09-06 12:37] ivandrofly commented on #1249
:+1:

[2015-09-06 16:00] niksedk commented on #1243
To show subtitles...

[2015-09-06 17:18] jdpurcell commented on #1243
As for stopping/restarting the timer, it's simply a way to make the timer's interval account for the work being done in the tick event. For example, without stop/start, a timer with a 1000 msec interval and a Thread.Sleep(500) in the tick event would fire every 1000 msec. By using stop/start, the tick event would fire every 1500 msec.

[2015-09-06 20:09] niksedk commented on #1200
Sorry about the late answer... the rules are applied multiple times because sometimes some rules fixes stuff so that another rule that was not found in the first pass is found in the pass... e.g. first pass fixes a word splitting and second pass fixes an error in one of the newly split words.

[2015-09-06 20:23] niksedk commented on #1192
Yes, that was nice.
Some more code should definitively be moved out as well - especially from Fix common errors and main.cs (sorry about the insane size of main!). Some small examples of how to load/save a sub with libse should be added etc... and comments are more important in libse now too.

I'm considering to keep libse.dll outside SubtitleEdit.exe - that would make it usable from the plug-ins,

[2015-09-07 12:22] Elheym opened #1259 "[Enhancement] Adding an additional more accurate OCR"
Hello.
I would like to see this tool in the future. As the current Tesseract and VobSub with this, to put it mildly, do not. It is about SubExtractor, which, though in manual mode, where more precise than those two. Of course, with its further consideration as an automatic OCR. :) http://subextractor.codeplex.com/SourceControl/latest

[2015-09-12 12:39] niksedk commented on #1108
I've fixed a minor memory leak in the waveform (fb1710992ab27d4500b6361347aae3a00b26a638)... could you test if the problem is still there: http://www.nikse.dk/SubtitleEdit.zip (or github source)

[2015-09-12 13:47] LeonCheung commented on #1108
Hi, First, thank you very much for not forgetting this issue! :P

After a hard testing on a 30 minutes sub work, I didn't see any obvious fix on this particular one.

Well, there still might be kinda memory leak things existing (since this issue becomes obvious ONLY after working for quite a while), I still believe the key problem appears fairly related to the Syntax coloring rule(s), especially t

[2015-09-13 23:08] Reeshar opened #1275 "Fix common errors - deselect ignored"
In SubtitleEdit 3.4.8, if you use "Fix common errors..." and deselect certain proposed changes in the list, those changes are often now still being applied. This was not the case in an earlier version.

[2015-09-15 13:04] felagund opened #1279 "Problem with spaces when exporting to FAB Image script"
Using version 3.4.8 (using mono under Linux - not sure if that has any effects), and this file:

[code]

when exporting to FAB Image Script, the fourth title gets renderes as this:
![image004](https://cloud.githubusercontent.com/assets/1218098/9877056/d1c362ba-5bba-11e5-8bf5-3e05c63d118d.png)
- it missing "e." at its end. when I remove the blank between "Right" and "space.", it gets displayed corr

[2015-09-15 15:01] niksedk commented on #1279
What's your video size?

[2015-09-15 16:05] #1275 closed

[2015-09-15 16:07] niksedk commented on #1275
Hi Reeshar, could you test latest version in Github - or this beta: http://www.nikse.dk/SubtitleEdit.zip

[2015-09-15 16:28] Reeshar commented on #1275
Yup, that seems to have fixed it.

Thanks Nikolaj!

Richard

Sent from my OnePlus One phone using Type Mail

On 15 Sep 2015 17:07, at 17:07, Nikolaj Olsson <notifications@github.com> wrote:

[2015-09-15 17:01] niksedk commented on #1275
cool, thx for verifying :)

[2015-09-15 20:53] felagund commented on #1279
I was doing the conversion without a video loaded, is that a problem?

[2015-09-15 21:57] felagund commented on #1279
Otherwise, the ass file says the video is fulllhd.

[2015-09-16 13:30] niksedk commented on #1279
No, should not be a problem... but the images are correct here...!?
Perhaps you could try latest beta: http://www.nikse.dk/SubtitleEdit.zip
(also, you should probably set border width to 2 or 3)

[2015-09-16 15:07] felagund commented on #1279
you mean it works on your machine?

I tried with the latest beta and it is the same. However, I found out that the problem disappears when I check "simple rendering". It might have something to do with mono and Linux?

Also, I have to change the border via ASS styles, I cannot use the option in the "export FAB image" dialog. Is that expected?

[2015-09-16 15:31] felagund commented on #1279
Also, when using position right/center (as indicated by number 6), I get this rendering - it seems that left and right positions are all broken.
![image004](https://cloud.githubusercontent.com/assets/1218098/9909477/b5945ce6-5c98-11e5-999f-aa69602a8774.png)

[2015-09-16 15:32] felagund commented on #1279
(It should be right and in the middle.)

[2015-09-16 15:38] felagund commented on #1279
(also, ASS {\pos(<x>,<y>} is not supported?)

[2015-09-16 23:18] Rudde opened #1282 "OCR correction issue adding space"
Hello!

Love this software! Best I've ever tried. When I rip subs to srt it is suppose to automatically correct

-Word to - Word and it does that on the first line, but if it's more then one line and it does the line jump it does not correct it on second line. Any way to make this work?

[2015-09-17 18:22] ivandrofly opened #1285 "[Linux] - SE throws expection"
Was running some test on using Linux (SE portable):

![image](http://i.imgur.com/JxiLux9.png)

[2015-09-18 18:11] niksedk commented on #1285
When running the pre-compiled SubtitleEdit.exe or after compiling with Xamarin? or both?

[2015-09-19 10:56] zaalbarxx opened #1293 "Windows 10 - does not start"
Hi!
I tried to dig some information, but I couldn't find anything so I thought I'll ask here. The problem is that the app does not start on fresh Windows 10 installation. Previously I had it on Win 7 upgraded to Win  10 and it worked fine, but now when I run the app nothing seems to happen. I see the process being spawned in task manager and then immediatly shut down. Is there any option to run it

[2015-09-19 12:12] ivandrofly commented on #1285
Pre-compiled

[2015-09-19 18:54] Elheym opened #1295 "Updates to Russian translation"
Modified translation into Russian: https://cloud.mail.ru/public/wrou/oqviVrd8z

[2015-09-20 06:14] #1295 closed

[2015-09-20 07:41] niksedk commented on #1282
Could you give a few examples?

[2015-09-20 08:28] niksedk commented on #1279
The "Space." is not missing "e." on windows...
The vertical center bug is present here too - should be fixed now though :)
Could you test latest beta: http://www.nikse.dk/SubtitleEdit.zip

When using ASS/SSA border settings must be set in ASS/SSA style.
{\pos...} is not supported.

[2015-09-20 08:31] niksedk commented on #1285
Nice to get this working :)

[2015-09-20 08:31] #1285 closed

[2015-09-20 08:51] niksedk commented on #1259
An OCR engine is pretty complex - and I don't believe just image compare is enough.
I've started on something but don't really have the time atm... if you edit settings.xml and set "ShowBetaStuff" to true you will get a new OCR method.

[2015-09-20 08:53] niksedk commented on #1293
Does anybody else has this problem?

Could you try re-installing .net framework 4.6?

[2015-09-20 08:54] #1243 closed

[2015-09-20 08:54] #1192 closed

[2015-09-20 08:57] #1174 closed

[2015-09-20 12:58] kailia opened #1300 "Request: command line batch processing"
Hello,
I use SubtitleEdit every day to correct subtitles (correct casing, remove text for HI and fix common errors). Unfortunately, none of this can be done from the command line currently.
I'd love to see that feature, so I can automatically correct subs after downloading or extracting them.
Greetings,
F.

[2015-09-20 15:04] suvjunmd commented on #1293
Subtitle Edit 3.4.8 build 1 Portable works fine on Windows 10 Pro x64 with .NET Framework 4.6.

[2015-09-20 15:31] zaalbarxx commented on #1293
I tried 3.4.8 and 3.4.7, both portable and installers and nothing seems to work for me. The problem is I have no real way to debug this, because I don't see any error log or similar kind of thing.

[2015-09-21 00:16] Elheym commented on #1259
But what is it different from the current method, why it is not available by default? Do it so moist?
Yes, you are right in saying that comparisons of images is not enough. Absolutely each program has its own peculiar advantages and disadvantages. Unfortunately, Tesseract OCR has only one advantage - automatic recognition. And that is questionable. When you compare the original text with the recog

[2015-09-21 14:22] Elheym opened #1307 "[bug] Tesseract stopped working"
After installing Visual Studio 2015 PE.
<a href="http://lostpic.net/image/RJQ"><img src="http://lostpic.net/images/2015/09/21/f0337591e309550935ff6f224e03c129.th.png" border="0"></a>

[2015-09-21 16:56] niksedk commented on #1259
Sorry, it's not possible just to add it in compiled form.

I've just given the "new image compare" (also does line compare if no image compare match is found) a quick update... http://www.nikse.dk/SubtitleEditOcr.zip
Hint:To fix bad results right click in the list view and choose "Inspect compare matches for current image"
How does it work?

[2015-09-21 18:40] aaaxx opened #1310 "[ENHANCEMENT] Case insensitive regular expressions"
Would it be possible to make regular expression search (and replace and multiple replace) case insensitive by default, with a "Case sensitive" checkbox that modifies both "Normal" and "Regular expression" search?

<pre>
(•) Normal
( ) Regular expression

[✓] Case sensitive
</pre>

[2015-09-21 18:42] Elheym commented on #1259
Looks interesting. Tried the "New" way, always quick to recognize the errors still appear. Differences from VobSub noticeable. Later I will be more understanding. They're still going to develop? )

[2015-09-21 21:24] Nhoise opened #1313 "Bug in "Fix common error""
When using the "Add period after lines where next line start with uppercase letter" it doesn't add periods if the next line start with a single uppercase I.

Example:
89
00:15:41,090 --> 00:15:43,496
The house seemed desolate to me

90
00:15:44,319 --> 00:15:47,086
I wasn't sure if somebody lived in there.

[2015-09-22 00:17] aaaxx commented on #1313
Probably because it doesn't necessarily mean that it's the start of a new sentence.

[2015-09-22 01:46] aaaxx opened #1314 "Why does SE add two newlines to the end of file?"
I know there are some historical reasons for ending text files with a newline, but Subtitle Edit appends two of them (CRLF, CRLF). It does this even when there were none previously, not just when there is already an existing one. I'm talking about SRT here, didn't check the other formats.

And speaking of trailing newlines, are they really necessary in subtitle files?

[2015-09-22 04:43] niksedk commented on #1314
Apparently some old programs require them. I've had many requests for them...

[2015-09-22 08:33] xylographe commented on #1310
In multiple replace you could add prefix `(?i)` to the regular expression pattern.

[2015-09-22 08:46] #1310 closed

[2015-09-22 08:47] #1314 closed

[2015-09-22 08:47] #1313 closed

[2015-09-22 08:50] niksedk commented on #1307
Have you checked this: http://www.nikse.dk/SubtitleEdit/Help#issues

[2015-09-22 12:12] felagund commented on #1279
Yes, it works now. I guess you can close this one now, I will reopen it if I manage to reproduce the space issue on Windows.

BTW: the dialog to export the images to FAB format does not seem to remember the settings that I use. I have no idea if it is hard to implement, but I found myself always checking "simple rendering" as it produced better looking pictures, it would be fabulous if it just rem

[2015-09-22 16:48] aaaxx commented on #1314
Do you mean you've had requests for final newline in general, or for **two** final newlines?

[2015-09-22 16:51] aaaxx commented on #1310
I know about regex modifiers, but I think my suggestion would make a better UX.

[2015-09-22 17:21] xylographe commented on #1314
Nothing historical, POSIX defines text files in terms of lines which are **terminated** by a newline.

In SRT format each subtitle has four parts:
- index number (one line)
- time codes (one line)
- text to be shown (one or more non-empty lines)
- empty line to indicate the end of the text

Software requiring the empty line for **all** subtitles is not incorrect, but it is a bit unusual. :)

[2015-09-22 20:39] marb99 commented on #1293
Subtitle Edit 3.4.8 lastest build Portable works fine on Windows 10 Pro and Enterprise x64 with .NET Framework 4.6.

[2015-09-22 20:55] marb99 opened #1317 "Fix Common Errors wrong language detection"
Hi...
I have noticed that in recent beta builds of SE 3.4.8 it has detected in (Fix common errors) the wrong subtitle language.

Detects subtitles pt-pt as Spanish.

And lately happens a lot in several pt-pt subs.

![capturar](https://cloud.githubusercontent.com/assets/7856897/10031312/64b48608-6174-11e5-9098-93469401af30.PNG)

I leave here the sub in pt-pt as the SE (Fix common errors) detects as

[2015-09-22 21:35] aaaxx commented on #1314
Got it now. Thanks.

[2015-09-22 22:00] aaaxx commented on #1317
If you want to help, get the word frequency lists for Spanish and Portuguese from [here](https://invokeit.wordpress.com/frequency-word-lists/), compile new lists with the most used words for both languages and post them here so the code can be updated.

Twenty or so unique words per language should be enough.

[2015-09-23 00:15] xylographe commented on #1317
@marb99  What about Portuguese detection words:
[code]
Are (some of) these words common in another language (or languages)?

BTW Word lists to differentiate between pt-PT and pt-BR would also be nice.

[2015-09-23 04:44] marb99 commented on #1317
@xylographe

I think it is not common.

the differences between pt-PT and pt-BR are many differences.

orthographic, syntactical, prosodic and semantics

for some lexical differences.

try this list: https://pt.wikipedia.org/wiki/Lista_de_diferen%C3%A7as_lexicais_entre_vers%C3%B5es_da_l%C3%ADngua_portuguesa

[2015-09-23 09:38] xylographe commented on #1317
I was thinking of changing the detection order: try Portuguese before Spanish. However, "Estás" is also common in Spanish, "com" is common in Catalan, "não" in Vietnamese, and "isso" might be Italian.

I think this might resolve the issue for now: (with the currently detectable languages)
[code]
Just need a few (3‒5 I guess) appropriate candidates for `<<MORE-WORDS>>` .

[2015-09-24 04:39] jdpurcell commented on #1108
I wonder if it has something to do with the duration column changing colors. When the color changes, I noticed the listview flickers.  Maybe that would explain why it only happens when resizing the selected subtitle (because the duration validation only happens when a subtitle is selected).

[2015-09-24 05:13] niksedk opened #1321 "Release 3.4.9"
A lot of fixes/changes has been made since last release (500+ commits) and SE 3.4.8 has a bad bug in SAMI + we have a new language file... so it's time for an update :)

TODO:
- [x] Fixing bugs
- [x] Test "Fix common errors"
- [x] Test "Batch convert"
- [x] Test audio viz
- [x] Test plugins
- [x] General UI testing

[2015-09-24 15:41] m-audio91 opened #1322 "[Enhancement] abbility to scale subpictures when exporting to vobsub"
Hello

**feature request:**
Can you please add ability to scale subpictures (horizontally or vertically) when exporting to vobsub (sub|idx)?
I'm not talking about soft flags.

Thanks.

[2015-09-24 16:55] niksedk commented on #1108
@jdpurcell: Probably, but I cannot re-create it... I've looked for a memory leak bit did not see it in the syntax coloring code (found a smaller one in the waveform code which was fixed a little while back).

@LeonCheung: It would be interesting to see you video with a Task Manager visible...

[2015-09-24 21:10] Elheym commented on #1259
nOCR - works wonderfully. About recognition of English... copes. Please change the "No of pixels is space" to the value of 13, it is most suitable to him there are fewer errors and inaccuracies with spaces. Also, please enable "Draw missing texts".
Recognition on the Russian... with him for a little more complicated. Invalid recognizes (vertically) the letter "Й", in any case. The top character se

[2015-09-24 21:22] Elheym commented on #1307
Tesseract has been installed, is now removed. Where can I find "TESSDATA_PREFIX"?

[2015-09-25 04:21] niksedk commented on #1259
Thx for testing :)

The "Й" issue I will try to look at soon.
The "H" vs "h" issue could a bug too.

About the "NEW" method - you can improve the quality by right clicking on a line a press '"Inspect compare matches for current image"... that should probably be a button. The "NEW" method actually fallbacks to nOCR if no "image compare match" is found.

Could you email me the subtitle from above (s

[2015-09-25 05:40] #1112 closed

[2015-09-25 10:32] Elheym commented on #1259
Excuse me, I did not say... It was not about The "H" vs "h", and of The "Н" vs "н". It's not Latin, it is Cyrillic.
If the new method is used at 40% of inaccuracies, "Inspect compare matches for current image", I think it will still be a very long time. Therefore, this method can not be seen yet.
What do you say about the "Ы" vs "ы"? This letter is also not uncommon in the text, respectively, and

[2015-09-25 12:47] xylographe commented on #1307
Open Control Panel (All Control Panel Items view), select System, select Advanced System Settings, click Environment Variables button.

[2015-09-25 16:31] Elheym commented on #1307
__xylographe__, thank you, understand a situation. Now everything is working.

[2015-09-25 18:39] aaaxx opened #1325 "[BUG] "Export custom text format..." doesn't remember timecode format"
After creating a new text format or editing an existing one it will display the selected timecode format (and export it) properly, but as soon as you close the "Export custom text format" window, it will go back to the default `hh:mm:ss,zzz` and that's what you'll see the next time you use it.

[2015-09-25 18:42] aaaxx commented on #1321
Where can we get the latest test version?

[2015-09-25 18:48] aaaxx commented on #1322
Do you mean for anamorphic DVDs?

[2015-09-25 20:07] m-audio91 commented on #1322
Yes, aaaxx.

[2015-09-25 20:11] ivandrofly commented on #1321
if you have Visual Studio you can get last commit using **git** and build it yourself or you can download from
http://www.nikse.dk/subtitleedit.zip

[2015-09-26 03:12] aaaxx commented on #1325
Sorry, I didn't update SE. Works fine in 3.4.8.

[2015-09-26 03:12] #1325 closed

[2015-09-26 03:18] aaaxx opened #1327 "[ENHANCEMENT] Remember settings for Export > Plain text..."
Could you make the dialogue for exporting plain text remember last used settings?

[2015-09-26 04:30] aaaxx commented on #1322
These are the needed values, if somebody decides to implement it:
[code]
And note that even the subs on 4:3 DVDs (i.e. non-anamorphic) need distortion because DVDs don't store image in 4:3 (1.33) or 16:9 (1.77). For example, PAL is in 720/576 = 1.25:1 aspect ratio, and gets stretched on playback even for the so-called *non*-anamorphic 4:3 DVDs.

[2015-09-26 06:17] #1307 closed

[2015-09-26 06:33] LeonCheung commented on #1108
@niksedk I've just upload a video **[here](https://youtu.be/5kH7HCJZyuU)** based on a compile version after @jdpurcell 's latest commit.

Perhaps my workflow is a bit different. You can try to follow the setting I did at the first 30 secs in the video, to see if you can repeat it by then.

I want to stress one thing: Things will become normal right after restarting SE, but will go over and over ag

[2015-09-26 06:41] LeonCheung commented on #1108
BTW, around 01:00 in that video you can see the sections are gone in waveform window for a whle, I never experienced that perviously. I assume there are something fishy in lastest version?

[2015-09-26 07:55] LeonCheung opened #1328 "[Cool Feature Discussion] OCR for OSD subtitle extraction"
There are cases that we want to do the "reverse engineering" thing, to be specific, to extract on-screen-displayed subtitles that had been hardcoded into the video stream. OCR could be the ideal solution.

![osd_sub_example](https://cloud.githubusercontent.com/assets/494788/10116336/bee3041e-6463-11e5-9fbd-b73cf202f9cc.jpg)

For the example above, if we can define a rectangle that can cover the su

[2015-09-26 17:06] jdpurcell commented on #1108
Thanks to your new video and the tip about "set end, offset the rest...", I can reproduce this now.  So far I've determined that a large amount of CPU time is being spent in the UpdateOverlapErrors method.  I think the problem is not necessarily that method itself, but that it gets called more and more frequently after more edits are made.  I'm still working on tracking down why that's happening.

[2015-09-27 06:01] aaaxx opened #1334 "[BUG] "Un-dock video controls" makes them show up at every start"
When "Un-dock video controls" is set, the Control window (but not Video) opens together with Subtitle Edit, even if it was hidden when SE was last closed.

It's especially annoying because the Control window gets its own item in the taskbar, so when you open a few subtitle files the whole taskbar gets crowded.

[2015-09-27 06:18] aaaxx opened #1335 "Interface annoyance: docked video resizes editing box"
Whenever the docked video pane is displayed it will squash the editing box above it if it's taller than 3 lines of text. Ideally, it shouldn't affect it at all.

![gif of text editing box getting squeezed by video pane](https://cloud.githubusercontent.com/assets/6186480/13411973/720191bc-df40-11e5-927d-3ac08843e90d.gif)

[2015-09-28 16:33] Elheym commented on #1259
Maybe I can still with something to help? Appositely, the correction recognition letters "Й / й" can help the program code of the original VobSub. =)

[2015-09-28 18:44] niksedk commented on #1321
http://www.nikse.dk/subtitleedit.zip updated to latest commit - 71a472426950e6c5de102c1c2d957287079c8dad

[2015-09-28 18:45] niksedk commented on #1321
Tested Audio waveform/spectrogram - looks good and even somewhat faster when scrolling :)

[2015-09-28 19:11] niksedk commented on #1321
Tested batch convert - fund a bug in the filter

[2015-09-28 19:13] niksedk commented on #1321
(no refactoring until this release is out...)

[2015-09-28 19:24] aaaxx commented on #1321
Does [this](https://github.com/SubtitleEdit/subtitleedit/issues/1334) count under "General UI testing"?

[2015-09-28 21:26] marb99 commented on #1317
this problem will be solved???

for now with new gits the problem remains

[2015-09-29 03:31] xylographe commented on #1317
As I wrote above, I will need some Portuguese words, that may occur frequently in Portuguese subtitles, and are definitely *not* Spanish words (other languages don't matter in this particular context).

I'm not at all familiar with Portuguese, and just a little with Spanish. Hence, it will be up to you and/or @ivandrofly to provide some appropriate words.

[2015-09-29 07:15] marb99 commented on #1317
@xylographe

but what is necessary is not to change the words in Spanish?

because if the Spanish words are the same as the Portuguese will always detect the subtitle as Spanish first??

[2015-09-29 07:53] xylographe commented on #1317
The **AutoDetectWordsSpanish** are an *indication* that the subtitle might be Spanish. But, if the subtitle contains French words (`frenchCount > 1`) or Portuguese words (`portugueseCount > 1`) the search will continue with the next languages (Italian, French, Portuguese, etc.).

For example, if the subtitle seems to be Spanish, but it contains French words, like **pour**, **vous**, or **quelque**

[2015-09-29 07:58] marb99 commented on #1317
@xylographe

ok, thanks for explanation :)

maybe the portuguese words above help

thanks

[2015-09-29 08:26] LeonCheung commented on #1108
Oh you are my hero, @jdpurcell !!! Just tested, it works perfect now! You know, you just solved a problem that made me pulling my hairs for a year!!
I don't know how to show my appreciation. May god bless you!
And big thanks to @niksedk too. I think that is exactly the magic of opensource.  :bulb:

[2015-09-29 15:19] jdpurcell commented on #1108
You're welcome, I'm glad it's working now!

I'm sure Nikolaj would have fixed it too, I just got to it first :).  The reason why it's finally fixed is that you figured out how to quickly and reliably make the problem occur.  Without being able to reproduce it, it would have been nearly impossible to find the problem in the code.

[2015-09-29 23:57] aaaxx commented on #1317
Is there really need for these acrobatics? Couldn't there be just two lists, Spanish and Portuguese, that contain the most frequent words that don't occur in the other language, like there are for Croatian and Serbian? They are also *very* similar, sharing most of the vocabulary, and the recognition has been working fine since the last list revision.

[2015-09-30 01:15] xylographe commented on #1317
@aaaxx
I've looked at the Spanish and Portuguese frequency lists (thx for the link :) ), and I think it would be possible to compile an **AutoDetectWordsPortugueseAndSpanish** list (similar to the **AutoDetectWordsCroatianAndSerbian** list). The problem is to compile two lists to differentiate between the two languages. The Croatian/Serbian differentiation was only possible because you and @diomed

[2015-09-30 07:56] LeonCheung opened #1341 "Better to avoid negative duration?"
Negative duration value can be generated by some operations, and one had to fix it by manually typing new value, which seems annoying a bit. So I was thinking if we should force to avoid negative duration happen?

[2015-09-30 18:22] xylographe commented on #1317
@marb99
I hope, this will improve Portuguese subtitle detection: [source-archive](https://github.com/xylographe/subtitleedit/archive/xfix0.zip) or [compiled](https://www.dropbox.com/s/1hdn0t7d40rbwob/SE-3.4.8.555-pt-detect.7z?dl=1)

[2015-10-01 04:21] aaaxx commented on #1317
@xylographe, I [compared](http://i.imgur.com/hZYBeW1.png) Spanish, Portuguese, French and Italian lists in Excel and compiled new detection lists with unique words for each language. They should function on their own now; could you please test it?

[code]

The only problem now is telling apart pt-PT and pt-BR. And even though marb says there are many differences, they happen really infrequently –

[2015-10-01 06:29] LeonCheung opened #1344 "[Feature Request] Individual Waveform View for Translation Mode"
Sometmes, we do want to work together with both original and translation sub files, for both timing and text edit. However, I found it is very hard to match the two files for the future merging if they are not 100% match on timing. So currently we have to switch quite frequently between the original and translation display to check if everything is matched, which, according to my experience, can b

[2015-10-01 06:41] LeonCheung opened #1345 "[Suggestion] Display More Common Info on Status Bar"
Can we make full use of the current long, blank status bar to display extra useful and commonly used informaiton other than line count? Such as **word count, min/max length, min/max duration, longest/shortest line#**, etc. For those info, to constantly turn to **File > Statics...** is not a very good idea, imho. espcially for reviewers or quality/format inspectors.  FYI

[2015-10-01 19:41] niksedk commented on #1108
Nice :)
What was `numericUpDownDuration.ValueChanged += NumericUpDownDurationValueChanged;` doing there ? ;)

[2015-10-01 19:41] #1108 closed

[2015-10-01 19:54] niksedk commented on #1334
A fix it would require a "Show video controls" menu item in the "Video" menu I guess, right?
(it's done on purpose atm)

[2015-10-01 19:55] niksedk commented on #1321
OK, some nice bugs have been fixed and SE 3.4.9 should be out in a day or two :)

[2015-10-02 16:20] diomed commented on #1321
sweet. nice news.

so you ain't gonna merge new icon?
if you're not ok with it I'll just delete PR.

[2015-10-03 02:33] xylographe commented on #1317
@aaaxx Thank you!
Implemented in [branch uadgl1.](https://github.com/xylographe/subtitleedit/tree/uadgl1)
Portable version `SE-3.4.8.558-pt-it-fr-es-detect.7z` in [this folder](https://www.dropbox.com/sh/thgk5507tteg6ze/AABgb8jgWBnz9LLgDHsECfika?dl=0)

IMO the main disadvantage of detection lists with unique words for each language is that the addition of another language to `AutoDetectGoogleLangu

[2015-10-03 10:09] #1321 closed

[2015-10-03 10:16] niksedk commented on #675
Also just got this one:
![Imgur](SubtitleEdit Icon-1024.png)

[2015-10-03 10:21] LeonCheung commented on #675
@niksedk Nice. BTW, your avatar image can be another nice option. LOL

[2015-10-03 10:23] niksedk commented on #675
He, yes - just took the worst image I could find - I think I'm eating :)

[2015-10-04 01:16] ttvd94 opened #1350 "Got an error while opening a srt file"
"Object refrence not set to an intance of an object."
The subtitle language I'm working on is Persian.
OS: Win 10 x64

![image](https://cloud.githubusercontent.com/assets/14959312/10265960/7d214726-6a52-11e5-9af2-7a5103db45d5.png)

The portable version was OK!

[2015-10-04 02:29] DotTheI commented on #81
Desperately need SE for OS X as well. Even paid one.

[2015-10-04 07:42] niksedk commented on #1350
So the installer for SE 3.4.9 crashes on this one subtitle only? Always?
And the portable version works fine with this subtitle?

[2015-10-04 09:24] niksedk commented on #1350
If you unpack the files in this zip ( http://www.nikse.dk/Debug.zip ) to your installer version folder (probably C:\Program Files\Subtitle Edit or C:\Program Files (x86)\Subtitle Edit) you should get a line number where the crash occurs...

[2015-10-04 19:08] adem0x opened #1351 "[Feature Req]"
To spare us from having to do mental arithmetic for timestamps, would you please add feature like such:

1) Select a given line in the subtitle lisbox (lets call that timestamp t1)
2) Syncronization | Adjust all times
3) In the upcoming window, add another option, such as:

i) New timestamp

Lets call this new timestamp t2.

SE would then (internally) calculate the difference between t1 and t2 and

[2015-10-04 19:16] adem0x opened #1352 "Source View Search and Replace"
When I do a 'Search and Replace' in the 'Source View', SE incrementally scrolls all the way until the last occurrence which slows the SR operation a lot.

Could you please encapsulate the SR operation with beginupdate/endupdate so that it becomes practically instantaneous.

[2015-10-05 18:26] ttvd94 commented on #1350
No! It happens on all subtitles. Yes, always.

Yes, it's ok with any srt file.

[2015-10-05 18:28] ttvd94 commented on #1350
No! It happens on all subtitles. Yes, always.

Yes, it's ok with any srt file.

[2015-10-05 18:35] ttvd94 commented on #1350
Thanke you, I did that and here is the screenshot:

![image](https://cloud.githubusercontent.com/assets/14959312/10289713/a7e54bdc-6bac-11e5-974e-7b77ac0162c2.png)

[2015-10-05 18:48] ttvd94 commented on #1350
**I found some kind of odd solution!**
After extracting your zip file, I created a copy of my srt file using *CTRL+C* and *CTRL+V* and then it successfully opened. I don't know why!

[2015-10-05 19:24] niksedk commented on #1350
Thx a lot for the line number :)
I believe it's an issue of auto-loading a video file extremely fast combined with late initialization of some variables - could you take the SubtitleEdit.exe (only this file) from this package: http://www.nikse.dk/SubtitleEdit.zip and overwrite the exe in your install folder?

[2015-10-05 19:39] niksedk opened #1353 "Release 3.4.10"
ppl have found multiple bugs (nice we have so many testers...) - including two larger ones (Visual sync crashes + "Fix common errors" on selected lines just deletes random lines)

TODO:
- [x] Fixing/testing bugs

Out soon...

[2015-10-05 23:07] aaaxx commented on #1334
I don't think it needs a new menu item. The current "Show/hide video" shows both "Video" and "Controls" windows and also hides both of them (works properly when docked and undocked). The only problem is "Controls" won't *stay* hidden when you run SE the next time, if it was undocked.

[2015-10-06 13:02] diomed opened #1358 "unbreak/autobreak with original subtitle mode"
Could we have buttons Unbreak and Autobreak in mode when original subitile is loaded?
Maybe next to buttons Previous / Next in form of up/down arrows since it is not convenient for full text to be there because of lack of space.
![x](http://i.imgur.com/eBzkRHg.png)

[2015-10-06 17:50] niksedk commented on #1353
Hopefully very stable...

[2015-10-06 17:50] #1353 closed

[2015-10-07 05:19] insurw opened #1362 ""Change casing" seems to be broken?"
Why does SE's "Change casing" (Normal casing+Fix name casing) wanna fix something that's already correct? Tried 3.4.10 and 3.4.8. It seems all 65 "errors" are already correct.

I added some new errors by changing some sentences to start with lowercase. They are ignored by "Change casing", while "Fix Common errors->Start with uppercase letter after paragraph" correctly detects both original and new

[2015-10-07 14:07] ttvd94 commented on #1350
Sorry for taking too long to answer.
I replaced the file but the problem persists.

![image](https://cloud.githubusercontent.com/assets/14959312/10339603/13f2c0d0-6d19-11e5-9ec9-11ddb6549df7.png)

**As I mentioned before, changing the name of the srt will fix the error. Doesn't that help?**

[2015-10-07 15:46] niksedk commented on #1350
OK, what about SE 3.4.10 ?

[2015-10-07 16:15] Rudde commented on #1282
Hey, didn't come back to this since it wasn't that important and I didn't have any English subs to OCR at the time. But here is an example.

![Example](http://i.imgur.com/1q2wUip.png)

http://i.imgur.com/1q2wUip.png

As you can see it will change "-Morning." to "- Morning.", but not "-Good morning." to "- Good morning." because it is not on the first line.

[2015-10-07 16:15] niksedk commented on #1362
I need some concrete cases and also note that the "Change casing" window is only the preview regarding names...

[2015-10-07 17:29] niksedk commented on #1282
Thx for the example :)
Should be fixed with https://github.com/SubtitleEdit/subtitleedit/commit/728f0d07960052531a5907ab6a0bfdf9d7cdc330

[2015-10-07 17:29] #1282 closed

[2015-10-07 17:47] insurw commented on #1362
You want the SRT file or what do you mean? What do you mean only a preview? It seems broken. Shouldn't a preview show [b]actual[/b] casing errors? Don't you see that it wrongly detects uppercase as lowercase?

Here's the SRT file, but it's not the actual file it's a problem with:
https://drive.google.com/file/d/0BxIAJYOpIauFV3ZuRGZkbWJsSlk/view?usp=sharing

Anyway. With same SRT file that SE finds

[2015-10-07 18:17] niksedk commented on #1362
Change casing "normal casing" first makes all lowercase first , then it applies uppercasing rules (redo all casing)... could some of the radio button texts be improved ?

[2015-10-08 15:28] insurw commented on #1362
Ah, sorry. I get it now. It wasn't obvious when using "normal casing+fix name casing" that something is done before the popup.

[2015-10-08 15:28] #1362 closed

[2015-10-08 16:50] djkrimson opened #1368 "[Request] Mac OSX Version?"
Any plans for mac osx version? There are few mac subtitle editors out there, none work very well.

[2015-10-08 21:34] LotusFlower1 opened #1369 "Impossible to do a visual sync"
OS : Win 10
The error occurs each time I clic on the button Sync, with every subtitles (srt) or videos (mkv).

![untitled](https://cloud.githubusercontent.com/assets/14893361/10380590/955942a4-6e0c-11e5-89fb-da75881993f7.png)

However no problem with the portable version ^^

[2015-10-08 21:40] jdpurcell commented on #1369
Are you using the latest version? (3.4.10)

[2015-10-08 21:45] xylographe commented on #1369
Could this be related to the installer running ngen. Perhaps, skip that when installing on Win10?

[2015-10-09 10:00] LotusFlower1 commented on #1369
@jdpurcell Yes the lastest version, but I tried older version and it's the same :(

@xylographe What can I do ? I tried 3 different versions.
Do you think it's a problem with Win 10 ?

[2015-10-09 14:08] niksedk commented on #1369
@LotusFlower1: Could you try this version: http://www.nikse.dk/SubtitleEditDebug.zip (portable test version)
It should supply a line number in the error message.

[2015-10-09 14:16] xylographe commented on #1369
Try [SubtitleEdit-3.4.10-no-ngen-setup](https://www.dropbox.com/s/ga4944i3k9in9gx/SubtitleEdit-3.4.10-no-ngen-setup.exe?dl=1)﻿: not running ngen while installing is the only difference.

[2015-10-09 21:35] LotusFlower1 commented on #1369
@niksedk As I said the portable version works very well

@xylographe Thanks it works perfectly !!

Thanks to all :)

[2015-10-10 03:52] xylographe commented on #1369
@LotusFlower1
Could you, please, try [SubtitleEdit-3.4.10.33-ngen2-setup](https://www.dropbox.com/s/2uxydug5ydhe36w/SubtitleEdit-3.4.10.33-ngen2-setup.exe?dl=1).

If that *doesn't* work, please, try [SubtitleEdit-3.4.10.33-ngen3-setup](https://www.dropbox.com/s/48w9o01r3xm7frj/SubtitleEdit-3.4.10.33-ngen3-setup.exe?dl=1).

I would expect both to work, but I cannot test them myself, because I canno

[2015-10-10 13:03] LotusFlower1 commented on #1369
@xylographe Why do I need to try an other one ? The first one you gave to me works very well :)

[2015-10-10 22:34] jdpurcell commented on #81
I looked into it a bit; I'll leave some notes in case another developer wants to try.

To aid with debugging, it's greatly helpful to get the solution working in Xamarin Studio. To do that, I had to edit SubtitleEdit.csproj and libse.csproj to remove the pre-build events and any NuGet related items. For both projects you'll need an AssemblyInfo.cs file on the Properties folder - I copied the ones

[2015-10-10 23:44] Nhoise opened #1375 "Bug(?) in "Fix common errors""
Continuation of Issue #1313 because you locked it before I could respond further and I keep running into this issue.
...
When using the "Add period after lines where next line start with uppercase letter" it doesn't add periods if the next line starts with ~~a single uppercase I.~~ an uppercase I or words which begin with an I (i.e. It's & I'm)

Example:

Another example, where it should definitel

[2015-10-11 05:55] DotTheI commented on #81
@jdpurcell Thank you for your efforts!!

This application really needs to have an OS X version. Many users would be even willing to pay for it. There's nothing as good as Subtitle Edit.

[2015-10-11 05:58] DotTheI commented on #1368
https://github.com/SubtitleEdit/subtitleedit/issues/81

[2015-10-11 06:54] #1368 closed

[2015-10-11 06:55] niksedk commented on #1368
Duplicate

[2015-10-11 16:58] Rudde opened #1377 "[BUG] TextST subs not imported correctly"
Hello! Great TextST is being implemented! But I have some issues with it. I first tired to import it from the BluRay m2ts stream, Subtitle Edit analyzed it but said it didn't find any streams. So I remuxed it with MakeMKV and now I try importing the made mkv to Subtitle Edit and it do find the TextST streams but it does not seems like it is parsing it correctly, I know the fault could be at MakeMK

[2015-10-11 20:19] #1369 closed

[2015-10-12 21:38] aaaxx opened #1380 "[ENHANCEMENT] "Break line at cursor position""
An option to put a line break at cursor position while removing all other line breaks would be great for faster reformatting.

To speed things up (i.e. prevent pixel hunting), you could also make it work not just when the cursor is in front/back of a word, but also when it's inside of a word, by breaking at the first space character before it.

Another great functionality would be to automatically

[2015-10-17 09:45] ricardocosta89 opened #1383 "[Enhancement] Close open subtitle without exiting"
I think it would be helpful to have an option under the File menu to close the current "session" without exiting SubtitleEdit. This would, of course, close any associated resources, such as video, waveform, translation,... Basically, it would be like closing and reopening the application.

Thank you.

[2015-10-17 10:24] niksedk commented on #1383
Try "New" either via File -> New or via the toolbar icon.

[2015-10-17 10:25] ricardocosta89 commented on #1383
Thank you. That works as well.

[2015-10-17 10:52] #1383 closed

[2015-10-19 20:09] #1350 closed

[2015-10-19 22:22] ukdtom commented on #1075
Confirmed here as well.....

Takker meget ;-)

[2015-10-21 19:30] nanacastillo opened #1392 "Error Message-Stack Trace"
![image](https://cloud.githubusercontent.com/assets/15237370/10647789/27cd8a8a-7800-11e5-8458-600ea60d7c63.png)
![image](https://cloud.githubusercontent.com/assets/15237370/10647796/383f775c-7800-11e5-8ec6-4e2272d23e7d.png)

[2015-10-21 19:57] #1352 closed

[2015-10-21 20:00] niksedk commented on #1392
Have you customized the shortcuts?

[2015-10-21 20:08] nanacastillo commented on #1392
Yep (at least I tried) but other than that I keep having problem with the video player. I already installed VLC, also the LAV filters, but it is still not working I get a very bad quality and the audio is not sincronized with video.
I´ve just unistalled everything. Should I try it from the top?

[2015-10-21 20:12] nanacastillo commented on #1392
the video is in mp4 format

[2015-10-21 20:18] nanacastillo commented on #1392
![image](https://cloud.githubusercontent.com/assets/15237370/10648908/e8afedbe-7806-11e5-9dd2-1822344d043b.png)

[2015-10-21 20:21] niksedk commented on #1392
Try reading about codecs here: http://www.nikse.dk/SubtitleEdit/Help

[2015-10-21 20:24] niksedk commented on #1392
Normally it's enough to install lav filters: https://github.com/Nevcairiel/LAVFilters/releases
A few media files cannot be played with lav filters - try switching video player to VLC.

(Hm, I see the error windows says your are running VLC... but that's not true as the video player uses directshow - says so in the main window)

[2015-10-22 01:50] xylographe commented on #1392
@nanacastillo
Install [K-Lite Codec Pack](http://www.codecguide.com/download_kl.htm) with MPC-HC (included in Standard, Full and Mega).
The K-Lite installer tries to detect conflicting codecs.

Try to play `Finding Phong.mp4` with MPC-HC.

Select *DirectShow* in SubtitleEdit's `Options > Settings > Video player`.
If it plays in MPC-HC, it should play in SE too.

[2015-10-23 11:40] jpsdr opened #1394 "Issue with OCR Tesserac"
I have some issues with OCR Tesserac. Sometimes, i have the result which is something like "D: oi", when the picture displayed is a normal text.
You can see here an exemple :
![ocr_error](https://cloud.githubusercontent.com/assets/1788001/10691685/628c6402-798b-11e5-890e-b49ac1ffe2c6.jpg)
I don't know if it's a know issue or not. I can provide several files which produce the issue.
Version is 3.4.

[2015-10-23 12:18] xylographe commented on #1394
Is the `TESSDATA_PREFIX` environment variable set?
If so, rename/remove it, and try again.

[2015-10-23 12:35] jpsdr commented on #1394
I've seen nothing like that in the windows environment variable (in "Configutation panel" "System->Advanced->etc..."), neither the global or local (user).
If it's in SubtitleEdit, i've not found it.

[2015-10-23 14:33] niksedk commented on #1394
We would probably need the subtitle to have a close look...

[2015-10-23 17:20] jpsdr commented on #1394
I've send you a mail with informations fonr that. Notify me  when received.

[2015-10-24 05:27] niksedk commented on #1394
Got the files, thx

[2015-10-24 07:15] #1394 closed

[2015-10-24 07:30] niksedk commented on #1394
OK, SE tries to resize the bitmap to get a better result if unknown words are detected, and a bug sometimes allowed to use worse OCR results of resized bitmaps - should be fixed (if you add the unknown names to the "names etc list" SE will do a little better at OCR).

You can test it via latest sources or here:
https://github.com/SubtitleEdit/subtitleedit/releases/download/3.4.10/SubtitleEditBetaT

[2015-10-24 08:47] niksedk opened #1395 "Drop wave file on empty waveform no longer works"
Reported by Freddy - http://www.nikse.dk/Home/Details/635797585620000000#72c313ee-7538-42e8-9af4-e3caa6e24866

[2015-10-24 10:42] jpsdr commented on #1394
I've tried this beta version, when i open an mkv, i've the following message (part are still in french even when i left english in program langage)
![image1](https://cloud.githubusercontent.com/assets/1788001/10710165/7ef4c5dc-7a4c-11e5-9842-704b25353d16.jpg)
After clicking "Ok" several dozen of times, i have  the OCR windows, whith the following error message when i "Start OCR"
![image2](https://

[2015-10-24 12:20] xylographe commented on #1394
Just a wild guess… Would it be possible, that in [this loop](https://github.com/SubtitleEdit/subtitleedit/blob/master/src/Forms/Main.cs#L8962) `p.Data` contains some sort of end-marker(s), causing `outZStream` to Close, while `inStream` has more bytes (following those markers) to be copied?

The WinFormThExc is most likely a result of `mergedVobSubPacks.Count` equalling zero.

[2015-10-24 20:10] niksedk commented on #1394
New portable beta up: https://github.com/SubtitleEdit/subtitleedit/releases/download/3.4.10/SubtitleEditBetaTest.zip (fixed a bug regarding vobsub in mkv due to recent refactoring).

Is it only with some files?
What your OS?
Do you unpack the beta portable files, to something like D:\Tools ?

[2015-10-25 09:44] jpsdr commented on #1394
mkv issue solved with new portable beta.
OS Win7 x86 and x64. I was until now using installed version, but, as i'm using SE also on a PC without internet, finaly i'll switch to portable. It's more conveniant for transfering dictionnaries.
I've tested on file 1 & 4 of the files i've provided you. It's better, but there is still some issues. If you take the Ep4 i've provided you, use tesserak with "

[2015-10-25 12:53] xylographe commented on #1394
@niksedk
Perhaps, [the `Stream.CopyTo` in **ManagedBitmap.cs**](https://github.com/SubtitleEdit/subtitleedit/blob/master/libse/ManagedBitmap.cs#L23) should be replaced too?

[2015-10-25 15:58] jdpurcell commented on #1394
The problem with CopyTo is only due to a bug / bad design with ZOutputStream. ZOutputStream's CanRead / CanWrite properties always return false, which is why CopyTo thinks it has been disposed.

[2015-10-25 20:34] xylographe commented on #1394
Ty, J.D.
The CanWrite property would do well to `return out_Renamed.CanWrite;`

[2015-10-26 15:29] jpsdr commented on #1394
Maybe udating Terreract may improve things ?
SE apparently uses the 3.02, and it seems that we are at least at the 3.04, and more, several commits seems to have been done since the 3.04 release tag.

[2015-10-26 16:41] jpsdr commented on #1394
I've tested the 3.04, using the build made for msys2. It seemed slower, and it produced output garbage like before the fix, when the 3.02 produced correct output. Didn't see anything realy better for the detection of italic. Now, maybe just replacing brutaly the 3.04 when thing are tuned for the 3.02 may not be also the best idea... But i was curious to test out.

[2015-10-26 17:08] scope73 opened #1397 "Array dimensions exceeded supported range"
Some of the TS files I try to extract subtitles from crash with this error message and the following:
![untitled](https://cloud.githubusercontent.com/assets/15326321/10736319/2eeb62f8-7c04-11e5-9bc9-79b6789d1220.png)

Can you help?

[2015-10-26 18:16] niksedk commented on #1397
Could you possibly supply a sample file either via a link here or email?

[2015-10-26 18:24] Chanipie opened #1398 "EBU TTM import/export missing whitespaces/linebreaks"
The following subtitles: http://www.ardmediathek.de/subtitle/36220 get imported perfectly fine into Subtitle Edit. After exporting to .srt however, the subtitles are missing whitespaces/linebreaks.

Example:
[code]
In this case the `<tt:br/>` line is omitted when exporting.

[2015-10-26 18:32] niksedk commented on #1398
Thx for then info :)
Should be fixed in a recent commit: https://github.com/SubtitleEdit/subtitleedit/commit/c021a2902cee0ee84fb3ea145507e932d985ab36

You can verify it via this version: https://github.com/SubtitleEdit/subtitleedit/releases/download/3.4.10/SubtitleEditBetaTest.zip (beta, portable version without installer)

[2015-10-26 18:38] Chanipie commented on #1398
Thank you! Fixed indeed.

[2015-10-26 18:44] niksedk commented on #1398
Thx for verifying!

[2015-10-26 18:44] #1398 closed

[2015-10-26 19:16] niksedk commented on #1394
New portable beta up again: https://github.com/SubtitleEdit/subtitleedit/releases/download/3.4.10/SubtitleEditBetaTest.zip
The italic issue is not possible to fix (line 236) - the blank lines and the messed up line should be better.

Great you tried the new Tesseract - not so great that it did not perform better. I'm waiting for an official release. I've added an issue here - https://github.com/te

[2015-10-26 20:00] niksedk opened #1399 "Default font"
Is this the way to set the default font in SE?

`this.Font = SystemFonts.MessageBoxFont;
InitializeComponent();`

http://benhollis.net/blog/2007/04/11/setting-the-correct-default-font-in-net-windows-forms-apps/

[2015-10-26 20:17] jpsdr commented on #1394
Thanks for the new version.
I've just quick tested the "tesseract-core-20150916" on the link you provided, and result is still not better, and it's slower than the version provided with SE.
I'll test later the "betastuff" you talk about.
Otherwise, thanks for all the work done on SE and all the features it has, it's a very usefull tool.

[2015-10-26 20:38] xylographe commented on #1399
Running
[code]
reports 57 files. In those files `InitializeComponent()` would set the Font property back to *Tahoma* or *Microsoft Sans Serif*.

Perhaps, setting the Font property in a base Form (inherited by every other Form), and not changing it in the inheritor, might be the more flexible way. If in future a change would become necessary, it would only have to be changed in one file.

[2015-10-27 09:40] jpsdr commented on #1394
I've been able to make more tests, on the file of the Ep4.
First, i've still tried the "tesseract-core-20150916", results are not very good.
Slower, more false italic detections, a little less miss italic detection, text ouput garbage on lines version of SE produce good results.
With the version of SE, good improvements, but line 140 is still messed-up. After, maybe this is the limit, i know that

[2015-10-27 23:13] ttvd94 commented on #1350
This new version works as well. No error!
Thanke you so much

[2015-10-28 17:46] niksedk commented on #1394
Line 140 in Ep4 is good here...
I will wait for an official Tesseract release - or wait until I hear about an unofficial release that rules :)

[2015-10-28 18:04] Plazik commented on #1300
The same request.
I usualy use: fix common errors, remove text for HI and adjust all time.

[2015-10-29 01:22] mrother opened #1400 "Support for export to non-standard 23.976 EBU-STL"
Hi,

I'm having trouble exporting subtitles to EBU-STL to non-standard 23.976 framerate.
Is it possible to add this to SE?

Aegisub support this, but it has a bug that doubles every space in sub's text.
When exporting to 23.976 framerate, the Disk Format Code is set to "STL24.01", but the timecodes are calculated according to framerate.

I've attached the Aegisub's Save Dialog for reference.

Maur

[2015-11-02 22:55] marb99 opened #1405 "[BUG] Google/Microsoft translate original line crash"
Google/Microsoft translate original line crash on SE 3.4.10 build 108

![capturar](https://cloud.githubusercontent.com/assets/7856897/10896908/d42c6022-81b4-11e5-90b0-de88bed09469.PNG)

[2015-11-05 21:50] #1392 closed

[2015-11-07 09:38] diomed commented on #675
How about this one

![se ico](https://cloud.githubusercontent.com/assets/72777/11014539/4f09d8f4-853b-11e5-9489-5c494ded63e7.png)

[icon file](https://app.box.com/s/6ckef7bh6aeq4md540jep9thumdnxxh2)

[2015-11-07 09:53] diomed opened #1408 "inserted first line?"
why this program doesn't start up with already open first line, and ready for editing, but we have to insert it all the time we open it? is there any good reason for that?

[2015-11-07 19:09] aaaxx commented on #1408
This is a good point. Even though I don't usually create subtitles, whenever I needed to write something from scratch I was annoyed by this. The first time, I actually kept clicking the "New" button wondering why nothing was happening.

[2015-11-07 21:25] ivandrofly commented on #1408
Ah :+1:  @diomed, we need to consider this /cc @niksedk.